=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.24.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module SparteraApiSdk
  class APIKeysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete (deactivate) single API key by api_key_id.     Uses the api_key_id returned during creation for clean identification.     Fixed to use correct primary key lookup.
    # @param company_id [String] 
    # @param api_key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdApiKeysApiKeyIdDelete200Response]
    def companies_company_id_api_keys_api_key_id_delete(company_id, api_key_id, opts = {})
      data, _status_code, _headers = companies_company_id_api_keys_api_key_id_delete_with_http_info(company_id, api_key_id, opts)
      data
    end

    # Delete (deactivate) single API key by api_key_id.     Uses the api_key_id returned during creation for clean identification.     Fixed to use correct primary key lookup.
    # @param company_id [String] 
    # @param api_key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdApiKeysApiKeyIdDelete200Response, Integer, Hash)>] CompaniesCompanyIdApiKeysApiKeyIdDelete200Response data, response status code and response headers
    def companies_company_id_api_keys_api_key_id_delete_with_http_info(company_id, api_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.companies_company_id_api_keys_api_key_id_delete ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.companies_company_id_api_keys_api_key_id_delete"
      end
      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling APIKeysApi.companies_company_id_api_keys_api_key_id_delete"
      end
      # resource path
      local_var_path = '/companies/{company_id}/api-keys/{api_key_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdApiKeysApiKeyIdDelete200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.companies_company_id_api_keys_api_key_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#companies_company_id_api_keys_api_key_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single API key by ID.     Returns masked API key for security (sk_****1234).
    # @param company_id [String] 
    # @param api_key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdApiKeysApiKeyIdGet200Response]
    def companies_company_id_api_keys_api_key_id_get(company_id, api_key_id, opts = {})
      data, _status_code, _headers = companies_company_id_api_keys_api_key_id_get_with_http_info(company_id, api_key_id, opts)
      data
    end

    # Get single API key by ID.     Returns masked API key for security (sk_****1234).
    # @param company_id [String] 
    # @param api_key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdApiKeysApiKeyIdGet200Response, Integer, Hash)>] CompaniesCompanyIdApiKeysApiKeyIdGet200Response data, response status code and response headers
    def companies_company_id_api_keys_api_key_id_get_with_http_info(company_id, api_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.companies_company_id_api_keys_api_key_id_get ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.companies_company_id_api_keys_api_key_id_get"
      end
      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling APIKeysApi.companies_company_id_api_keys_api_key_id_get"
      end
      # resource path
      local_var_path = '/companies/{company_id}/api-keys/{api_key_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdApiKeysApiKeyIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.companies_company_id_api_keys_api_key_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#companies_company_id_api_keys_api_key_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing API key by ID.     Can update metadata like name, expiration, rate limits, etc.     Cannot update the actual key value (for security).
    # @param company_id [String] 
    # @param api_key_id [String] 
    # @param api_keys_update [ApiKeysUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdApiKeysApiKeyIdPatch200Response]
    def companies_company_id_api_keys_api_key_id_patch(company_id, api_key_id, api_keys_update, opts = {})
      data, _status_code, _headers = companies_company_id_api_keys_api_key_id_patch_with_http_info(company_id, api_key_id, api_keys_update, opts)
      data
    end

    # Update an existing API key by ID.     Can update metadata like name, expiration, rate limits, etc.     Cannot update the actual key value (for security).
    # @param company_id [String] 
    # @param api_key_id [String] 
    # @param api_keys_update [ApiKeysUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdApiKeysApiKeyIdPatch200Response, Integer, Hash)>] CompaniesCompanyIdApiKeysApiKeyIdPatch200Response data, response status code and response headers
    def companies_company_id_api_keys_api_key_id_patch_with_http_info(company_id, api_key_id, api_keys_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.companies_company_id_api_keys_api_key_id_patch ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.companies_company_id_api_keys_api_key_id_patch"
      end
      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling APIKeysApi.companies_company_id_api_keys_api_key_id_patch"
      end
      # verify the required parameter 'api_keys_update' is set
      if @api_client.config.client_side_validation && api_keys_update.nil?
        fail ArgumentError, "Missing the required parameter 'api_keys_update' when calling APIKeysApi.companies_company_id_api_keys_api_key_id_patch"
      end
      # resource path
      local_var_path = '/companies/{company_id}/api-keys/{api_key_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_keys_update)

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdApiKeysApiKeyIdPatch200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.companies_company_id_api_keys_api_key_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#companies_company_id_api_keys_api_key_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Explicitly revoke an API key with reason tracking.     This is different from delete as it includes revocation metadata.
    # @param company_id [String] 
    # @param api_key_id [String] 
    # @param api_keys_input [ApiKeysInput] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdApiKeysPost200Response]
    def companies_company_id_api_keys_api_key_id_revoke_post(company_id, api_key_id, api_keys_input, opts = {})
      data, _status_code, _headers = companies_company_id_api_keys_api_key_id_revoke_post_with_http_info(company_id, api_key_id, api_keys_input, opts)
      data
    end

    # Explicitly revoke an API key with reason tracking.     This is different from delete as it includes revocation metadata.
    # @param company_id [String] 
    # @param api_key_id [String] 
    # @param api_keys_input [ApiKeysInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdApiKeysPost200Response, Integer, Hash)>] CompaniesCompanyIdApiKeysPost200Response data, response status code and response headers
    def companies_company_id_api_keys_api_key_id_revoke_post_with_http_info(company_id, api_key_id, api_keys_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.companies_company_id_api_keys_api_key_id_revoke_post ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.companies_company_id_api_keys_api_key_id_revoke_post"
      end
      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling APIKeysApi.companies_company_id_api_keys_api_key_id_revoke_post"
      end
      # verify the required parameter 'api_keys_input' is set
      if @api_client.config.client_side_validation && api_keys_input.nil?
        fail ArgumentError, "Missing the required parameter 'api_keys_input' when calling APIKeysApi.companies_company_id_api_keys_api_key_id_revoke_post"
      end
      # resource path
      local_var_path = '/companies/{company_id}/api-keys/{api_key_id}/revoke'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_keys_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdApiKeysPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.companies_company_id_api_keys_api_key_id_revoke_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#companies_company_id_api_keys_api_key_id_revoke_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get usage statistics for a specific API key.     Returns usage count, last used date, failed attempts, etc.
    # @param company_id [String] 
    # @param api_key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdApiKeysGet200Response]
    def companies_company_id_api_keys_api_key_id_stats_get(company_id, api_key_id, opts = {})
      data, _status_code, _headers = companies_company_id_api_keys_api_key_id_stats_get_with_http_info(company_id, api_key_id, opts)
      data
    end

    # Get usage statistics for a specific API key.     Returns usage count, last used date, failed attempts, etc.
    # @param company_id [String] 
    # @param api_key_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdApiKeysGet200Response, Integer, Hash)>] CompaniesCompanyIdApiKeysGet200Response data, response status code and response headers
    def companies_company_id_api_keys_api_key_id_stats_get_with_http_info(company_id, api_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.companies_company_id_api_keys_api_key_id_stats_get ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.companies_company_id_api_keys_api_key_id_stats_get"
      end
      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling APIKeysApi.companies_company_id_api_keys_api_key_id_stats_get"
      end
      # resource path
      local_var_path = '/companies/{company_id}/api-keys/{api_key_id}/stats'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdApiKeysGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.companies_company_id_api_keys_api_key_id_stats_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#companies_company_id_api_keys_api_key_id_stats_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all API keys for a company.     Returns masked API keys for security (sk_****1234).
    # @param company_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdApiKeysGet200Response]
    def companies_company_id_api_keys_get(company_id, opts = {})
      data, _status_code, _headers = companies_company_id_api_keys_get_with_http_info(company_id, opts)
      data
    end

    # Get all API keys for a company.     Returns masked API keys for security (sk_****1234).
    # @param company_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdApiKeysGet200Response, Integer, Hash)>] CompaniesCompanyIdApiKeysGet200Response data, response status code and response headers
    def companies_company_id_api_keys_get_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.companies_company_id_api_keys_get ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.companies_company_id_api_keys_get"
      end
      # resource path
      local_var_path = '/companies/{company_id}/api-keys'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdApiKeysGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.companies_company_id_api_keys_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#companies_company_id_api_keys_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create single API key.     Returns the actual sk_ key (only time it's exposed) and api_key_id for future operations.
    # @param company_id [String] 
    # @param api_keys_input [ApiKeysInput] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdApiKeysPost200Response]
    def companies_company_id_api_keys_post(company_id, api_keys_input, opts = {})
      data, _status_code, _headers = companies_company_id_api_keys_post_with_http_info(company_id, api_keys_input, opts)
      data
    end

    # Create single API key.     Returns the actual sk_ key (only time it&#39;s exposed) and api_key_id for future operations.
    # @param company_id [String] 
    # @param api_keys_input [ApiKeysInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdApiKeysPost200Response, Integer, Hash)>] CompaniesCompanyIdApiKeysPost200Response data, response status code and response headers
    def companies_company_id_api_keys_post_with_http_info(company_id, api_keys_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.companies_company_id_api_keys_post ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.companies_company_id_api_keys_post"
      end
      # verify the required parameter 'api_keys_input' is set
      if @api_client.config.client_side_validation && api_keys_input.nil?
        fail ArgumentError, "Missing the required parameter 'api_keys_input' when calling APIKeysApi.companies_company_id_api_keys_post"
      end
      # resource path
      local_var_path = '/companies/{company_id}/api-keys'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_keys_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdApiKeysPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.companies_company_id_api_keys_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#companies_company_id_api_keys_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
