=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.25.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module SparteraApiSdk
  class AssetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new asset
    # @param company_id [String] Unique identifier for the Company
    # @param assets_input [AssetsInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [CreateAssetsAnalyze200Response]
    def create_assets(company_id, assets_input, opts = {})
      data, _status_code, _headers = create_assets_with_http_info(company_id, assets_input, opts)
      data
    end

    # Create a new asset
    # @param company_id [String] Unique identifier for the Company
    # @param assets_input [AssetsInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(CreateAssetsAnalyze200Response, Integer, Hash)>] CreateAssetsAnalyze200Response data, response status code and response headers
    def create_assets_with_http_info(company_id, assets_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.create_assets ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.create_assets"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.create_assets, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.create_assets, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.create_assets, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'assets_input' is set
      if @api_client.config.client_side_validation && assets_input.nil?
        fail ArgumentError, "Missing the required parameter 'assets_input' when calling AssetsApi.create_assets"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AssetsApi.create_assets, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AssetsApi.create_assets, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AssetsApi.create_assets, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling AssetsApi.create_assets, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling AssetsApi.create_assets, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assets_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAssetsAnalyze200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.create_assets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#create_assets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Process (analyze) an asset with dynamic rate limiting applied via decorator.
    # @param company_handle [String] Human-readable handle for the Company
    # @param asset_slug [String] URL-friendly slug for the Asset
    # @param assets_input [AssetsInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAssetsAnalyze200Response]
    def create_assets_analyze(company_handle, asset_slug, assets_input, opts = {})
      data, _status_code, _headers = create_assets_analyze_with_http_info(company_handle, asset_slug, assets_input, opts)
      data
    end

    # Process (analyze) an asset with dynamic rate limiting applied via decorator.
    # @param company_handle [String] Human-readable handle for the Company
    # @param asset_slug [String] URL-friendly slug for the Asset
    # @param assets_input [AssetsInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAssetsAnalyze200Response, Integer, Hash)>] CreateAssetsAnalyze200Response data, response status code and response headers
    def create_assets_analyze_with_http_info(company_handle, asset_slug, assets_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.create_assets_analyze ...'
      end
      # verify the required parameter 'company_handle' is set
      if @api_client.config.client_side_validation && company_handle.nil?
        fail ArgumentError, "Missing the required parameter 'company_handle' when calling AssetsApi.create_assets_analyze"
      end
      # verify the required parameter 'asset_slug' is set
      if @api_client.config.client_side_validation && asset_slug.nil?
        fail ArgumentError, "Missing the required parameter 'asset_slug' when calling AssetsApi.create_assets_analyze"
      end
      # verify the required parameter 'assets_input' is set
      if @api_client.config.client_side_validation && assets_input.nil?
        fail ArgumentError, "Missing the required parameter 'assets_input' when calling AssetsApi.create_assets_analyze"
      end
      # resource path
      local_var_path = '/analyze/{company_handle}/assets/{asset_slug}'.sub('{' + 'company_handle' + '}', CGI.escape(company_handle.to_s)).sub('{' + 'asset_slug' + '}', CGI.escape(asset_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assets_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAssetsAnalyze200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.create_assets_analyze",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#create_assets_analyze\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Scan a column in the asset's table to retrieve distinct values      Request Body:         column (str): Column name to scan         limit (int, optional): Maximum distinct values to return (default 1000, max 5000)      Returns:         Flask Response with scan results
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param assets_input [AssetsInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAssetsAnalyze200Response]
    def create_assets_scan_column(company_id, asset_id, assets_input, opts = {})
      data, _status_code, _headers = create_assets_scan_column_with_http_info(company_id, asset_id, assets_input, opts)
      data
    end

    # Scan a column in the asset&#39;s table to retrieve distinct values      Request Body:         column (str): Column name to scan         limit (int, optional): Maximum distinct values to return (default 1000, max 5000)      Returns:         Flask Response with scan results
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param assets_input [AssetsInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAssetsAnalyze200Response, Integer, Hash)>] CreateAssetsAnalyze200Response data, response status code and response headers
    def create_assets_scan_column_with_http_info(company_id, asset_id, assets_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.create_assets_scan_column ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.create_assets_scan_column"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.create_assets_scan_column, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.create_assets_scan_column, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.create_assets_scan_column, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.create_assets_scan_column"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.create_assets_scan_column, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.create_assets_scan_column, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetsApi.create_assets_scan_column, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'assets_input' is set
      if @api_client.config.client_side_validation && assets_input.nil?
        fail ArgumentError, "Missing the required parameter 'assets_input' when calling AssetsApi.create_assets_scan_column"
      end
      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/scan_column'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assets_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAssetsAnalyze200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.create_assets_scan_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#create_assets_scan_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /companies/{company_id}/assets/{asset_id}/test
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param assets_input [AssetsInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAssetsAnalyze200Response]
    def create_assets_test(company_id, asset_id, assets_input, opts = {})
      data, _status_code, _headers = create_assets_test_with_http_info(company_id, asset_id, assets_input, opts)
      data
    end

    # POST /companies/{company_id}/assets/{asset_id}/test
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param assets_input [AssetsInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAssetsAnalyze200Response, Integer, Hash)>] CreateAssetsAnalyze200Response data, response status code and response headers
    def create_assets_test_with_http_info(company_id, asset_id, assets_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.create_assets_test ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.create_assets_test"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.create_assets_test, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.create_assets_test, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.create_assets_test, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.create_assets_test"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.create_assets_test, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.create_assets_test, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetsApi.create_assets_test, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'assets_input' is set
      if @api_client.config.client_side_validation && assets_input.nil?
        fail ArgumentError, "Missing the required parameter 'assets_input' when calling AssetsApi.create_assets_test"
      end
      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/test'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assets_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAssetsAnalyze200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.create_assets_test",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#create_assets_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete single asset by ID
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [DeleteAssets200Response]
    def delete_assets(company_id, asset_id, opts = {})
      data, _status_code, _headers = delete_assets_with_http_info(company_id, asset_id, opts)
      data
    end

    # Delete single asset by ID
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteAssets200Response, Integer, Hash)>] DeleteAssets200Response data, response status code and response headers
    def delete_assets_with_http_info(company_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.delete_assets ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.delete_assets"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.delete_assets, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.delete_assets, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.delete_assets, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.delete_assets"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.delete_assets, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.delete_assets, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetsApi.delete_assets, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAssets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.delete_assets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#delete_assets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single asset by ID
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [GetAssetsByIdAnalyze200Response]
    def get_assets_by_id(company_id, asset_id, opts = {})
      data, _status_code, _headers = get_assets_by_id_with_http_info(company_id, asset_id, opts)
      data
    end

    # Get single asset by ID
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetsByIdAnalyze200Response, Integer, Hash)>] GetAssetsByIdAnalyze200Response data, response status code and response headers
    def get_assets_by_id_with_http_info(company_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_assets_by_id ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.get_assets_by_id"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.get_assets_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_assets_by_id"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.get_assets_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.get_assets_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetsApi.get_assets_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetsByIdAnalyze200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.get_assets_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_assets_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get statistics for a specific asset (public endpoint)
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [GetAssetsByIdAnalyze200Response]
    def get_assets_by_id2(company_id, asset_id, opts = {})
      data, _status_code, _headers = get_assets_by_id2_with_http_info(company_id, asset_id, opts)
      data
    end

    # Get statistics for a specific asset (public endpoint)
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetsByIdAnalyze200Response, Integer, Hash)>] GetAssetsByIdAnalyze200Response data, response status code and response headers
    def get_assets_by_id2_with_http_info(company_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_assets_by_id2 ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.get_assets_by_id2"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id2, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id2, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.get_assets_by_id2, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_assets_by_id2"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.get_assets_by_id2, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.get_assets_by_id2, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetsApi.get_assets_by_id2, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/statistics'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetsByIdAnalyze200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.get_assets_by_id2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_assets_by_id2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Process (analyze) an asset with dynamic rate limiting applied via decorator.
    # @param company_handle [String] Human-readable handle for the Company
    # @param asset_slug [String] URL-friendly slug for the Asset
    # @param [Hash] opts the optional parameters
    # @return [GetAssetsByIdAnalyze200Response]
    def get_assets_by_id_analyze(company_handle, asset_slug, opts = {})
      data, _status_code, _headers = get_assets_by_id_analyze_with_http_info(company_handle, asset_slug, opts)
      data
    end

    # Process (analyze) an asset with dynamic rate limiting applied via decorator.
    # @param company_handle [String] Human-readable handle for the Company
    # @param asset_slug [String] URL-friendly slug for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetsByIdAnalyze200Response, Integer, Hash)>] GetAssetsByIdAnalyze200Response data, response status code and response headers
    def get_assets_by_id_analyze_with_http_info(company_handle, asset_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_assets_by_id_analyze ...'
      end
      # verify the required parameter 'company_handle' is set
      if @api_client.config.client_side_validation && company_handle.nil?
        fail ArgumentError, "Missing the required parameter 'company_handle' when calling AssetsApi.get_assets_by_id_analyze"
      end
      # verify the required parameter 'asset_slug' is set
      if @api_client.config.client_side_validation && asset_slug.nil?
        fail ArgumentError, "Missing the required parameter 'asset_slug' when calling AssetsApi.get_assets_by_id_analyze"
      end
      # resource path
      local_var_path = '/analyze/{company_handle}/assets/{asset_slug}'.sub('{' + 'company_handle' + '}', CGI.escape(company_handle.to_s)).sub('{' + 'asset_slug' + '}', CGI.escape(asset_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetsByIdAnalyze200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.get_assets_by_id_analyze",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_assets_by_id_analyze\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the information schema for a specific asset's table
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [GetAssetsByIdAnalyze200Response]
    def get_assets_by_id_infoschema(company_id, asset_id, opts = {})
      data, _status_code, _headers = get_assets_by_id_infoschema_with_http_info(company_id, asset_id, opts)
      data
    end

    # Get the information schema for a specific asset&#39;s table
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetsByIdAnalyze200Response, Integer, Hash)>] GetAssetsByIdAnalyze200Response data, response status code and response headers
    def get_assets_by_id_infoschema_with_http_info(company_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_assets_by_id_infoschema ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.get_assets_by_id_infoschema"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id_infoschema, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id_infoschema, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.get_assets_by_id_infoschema, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_assets_by_id_infoschema"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.get_assets_by_id_infoschema, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.get_assets_by_id_infoschema, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetsApi.get_assets_by_id_infoschema, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/infoschema'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetsByIdAnalyze200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.get_assets_by_id_infoschema",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_assets_by_id_infoschema\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve and save an asset's information schema
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [GetAssetsByIdAnalyze200Response]
    def get_assets_by_id_infoschema_save(company_id, asset_id, opts = {})
      data, _status_code, _headers = get_assets_by_id_infoschema_save_with_http_info(company_id, asset_id, opts)
      data
    end

    # Retrieve and save an asset&#39;s information schema
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetsByIdAnalyze200Response, Integer, Hash)>] GetAssetsByIdAnalyze200Response data, response status code and response headers
    def get_assets_by_id_infoschema_save_with_http_info(company_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_assets_by_id_infoschema_save ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.get_assets_by_id_infoschema_save"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id_infoschema_save, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id_infoschema_save, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.get_assets_by_id_infoschema_save, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_assets_by_id_infoschema_save"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.get_assets_by_id_infoschema_save, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.get_assets_by_id_infoschema_save, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetsApi.get_assets_by_id_infoschema_save, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/infoschema/save'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetsByIdAnalyze200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.get_assets_by_id_infoschema_save",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_assets_by_id_infoschema_save\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get AI-predicted pricing for a specific asset
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [GetAssetsByIdAnalyze200Response]
    def get_assets_by_id_predicted_price(company_id, asset_id, opts = {})
      data, _status_code, _headers = get_assets_by_id_predicted_price_with_http_info(company_id, asset_id, opts)
      data
    end

    # Get AI-predicted pricing for a specific asset
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetsByIdAnalyze200Response, Integer, Hash)>] GetAssetsByIdAnalyze200Response data, response status code and response headers
    def get_assets_by_id_predicted_price_with_http_info(company_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_assets_by_id_predicted_price ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.get_assets_by_id_predicted_price"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id_predicted_price, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id_predicted_price, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.get_assets_by_id_predicted_price, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_assets_by_id_predicted_price"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.get_assets_by_id_predicted_price, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.get_assets_by_id_predicted_price, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetsApi.get_assets_by_id_predicted_price, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/predicted_price'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetsByIdAnalyze200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.get_assets_by_id_predicted_price",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_assets_by_id_predicted_price\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get statistics for all assets the user has access to
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @return [GetAssetsByIdAnalyze200Response]
    def get_assets_by_id_statistics(company_id, opts = {})
      data, _status_code, _headers = get_assets_by_id_statistics_with_http_info(company_id, opts)
      data
    end

    # Get statistics for all assets the user has access to
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetsByIdAnalyze200Response, Integer, Hash)>] GetAssetsByIdAnalyze200Response data, response status code and response headers
    def get_assets_by_id_statistics_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_assets_by_id_statistics ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.get_assets_by_id_statistics"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id_statistics, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id_statistics, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.get_assets_by_id_statistics, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/statistics'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetsByIdAnalyze200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.get_assets_by_id_statistics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_assets_by_id_statistics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /companies/{company_id}/assets/{asset_id}/test
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [GetAssetsByIdAnalyze200Response]
    def get_assets_by_id_test(company_id, asset_id, opts = {})
      data, _status_code, _headers = get_assets_by_id_test_with_http_info(company_id, asset_id, opts)
      data
    end

    # GET /companies/{company_id}/assets/{asset_id}/test
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetsByIdAnalyze200Response, Integer, Hash)>] GetAssetsByIdAnalyze200Response data, response status code and response headers
    def get_assets_by_id_test_with_http_info(company_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.get_assets_by_id_test ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.get_assets_by_id_test"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id_test, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.get_assets_by_id_test, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.get_assets_by_id_test, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.get_assets_by_id_test"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.get_assets_by_id_test, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.get_assets_by_id_test, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetsApi.get_assets_by_id_test, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/test'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetsByIdAnalyze200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.get_assets_by_id_test",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#get_assets_by_id_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all assets for a specific company
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [ListAssets200Response]
    def list_assets(company_id, opts = {})
      data, _status_code, _headers = list_assets_with_http_info(company_id, opts)
      data
    end

    # Get all assets for a specific company
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(ListAssets200Response, Integer, Hash)>] ListAssets200Response data, response status code and response headers
    def list_assets_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.list_assets ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.list_assets"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.list_assets, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.list_assets, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.list_assets, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AssetsApi.list_assets, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AssetsApi.list_assets, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AssetsApi.list_assets, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling AssetsApi.list_assets, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling AssetsApi.list_assets, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAssets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.list_assets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#list_assets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search and filter assets with advanced options      Query Parameters:         q: Search query string         category: Filter by category         sport: Filter by sport tag         sort_by: Sort field (name|recent|popular|trending)         limit: Number of results (default 20, max 100)         offset: Offset for pagination         include_recommended: Include recommendations (true/false)         include_schema: Include asset_schema in response (true/false, default false)
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [ListAssets200Response]
    def list_assets_search(company_id, opts = {})
      data, _status_code, _headers = list_assets_search_with_http_info(company_id, opts)
      data
    end

    # Search and filter assets with advanced options      Query Parameters:         q: Search query string         category: Filter by category         sport: Filter by sport tag         sort_by: Sort field (name|recent|popular|trending)         limit: Number of results (default 20, max 100)         offset: Offset for pagination         include_recommended: Include recommendations (true/false)         include_schema: Include asset_schema in response (true/false, default false)
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(ListAssets200Response, Integer, Hash)>] ListAssets200Response data, response status code and response headers
    def list_assets_search_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.list_assets_search ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.list_assets_search"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.list_assets_search, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.list_assets_search, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.list_assets_search, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AssetsApi.list_assets_search, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AssetsApi.list_assets_search, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AssetsApi.list_assets_search, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling AssetsApi.list_assets_search, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling AssetsApi.list_assets_search, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/search'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAssets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.list_assets_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#list_assets_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing asset by ID
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param assets_update [AssetsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateAssets200Response]
    def update_assets(company_id, asset_id, assets_update, opts = {})
      data, _status_code, _headers = update_assets_with_http_info(company_id, asset_id, assets_update, opts)
      data
    end

    # Update an existing asset by ID
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param assets_update [AssetsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateAssets200Response, Integer, Hash)>] UpdateAssets200Response data, response status code and response headers
    def update_assets_with_http_info(company_id, asset_id, assets_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetsApi.update_assets ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetsApi.update_assets"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.update_assets, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetsApi.update_assets, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetsApi.update_assets, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetsApi.update_assets"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.update_assets, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetsApi.update_assets, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetsApi.update_assets, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'assets_update' is set
      if @api_client.config.client_side_validation && assets_update.nil?
        fail ArgumentError, "Missing the required parameter 'assets_update' when calling AssetsApi.update_assets"
      end
      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assets_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateAssets200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetsApi.update_assets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetsApi#update_assets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
