=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 0.0.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module SparteraApiSdk
  class ConnectionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete single connection by ID
    # @param company_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdConnectionsConnectionIdDelete200Response]
    def companies_company_id_connections_connection_id_delete(company_id, connection_id, opts = {})
      data, _status_code, _headers = companies_company_id_connections_connection_id_delete_with_http_info(company_id, connection_id, opts)
      data
    end

    # Delete single connection by ID
    # @param company_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdConnectionsConnectionIdDelete200Response, Integer, Hash)>] CompaniesCompanyIdConnectionsConnectionIdDelete200Response data, response status code and response headers
    def companies_company_id_connections_connection_id_delete_with_http_info(company_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.companies_company_id_connections_connection_id_delete ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.companies_company_id_connections_connection_id_delete"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.companies_company_id_connections_connection_id_delete"
      end
      # resource path
      local_var_path = '/companies/{company_id}/connections/{connection_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'connection_id' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdConnectionsConnectionIdDelete200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.companies_company_id_connections_connection_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#companies_company_id_connections_connection_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single connection by ID
    # @param company_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdConnectionsConnectionIdGet200Response]
    def companies_company_id_connections_connection_id_get(company_id, connection_id, opts = {})
      data, _status_code, _headers = companies_company_id_connections_connection_id_get_with_http_info(company_id, connection_id, opts)
      data
    end

    # Get single connection by ID
    # @param company_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdConnectionsConnectionIdGet200Response, Integer, Hash)>] CompaniesCompanyIdConnectionsConnectionIdGet200Response data, response status code and response headers
    def companies_company_id_connections_connection_id_get_with_http_info(company_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.companies_company_id_connections_connection_id_get ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.companies_company_id_connections_connection_id_get"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.companies_company_id_connections_connection_id_get"
      end
      # resource path
      local_var_path = '/companies/{company_id}/connections/{connection_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'connection_id' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdConnectionsConnectionIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.companies_company_id_connections_connection_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#companies_company_id_connections_connection_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve the information schema for the specified connection
    # @param company_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdConnectionsGet200Response]
    def companies_company_id_connections_connection_id_infoschema_get(company_id, connection_id, opts = {})
      data, _status_code, _headers = companies_company_id_connections_connection_id_infoschema_get_with_http_info(company_id, connection_id, opts)
      data
    end

    # Retrieve the information schema for the specified connection
    # @param company_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdConnectionsGet200Response, Integer, Hash)>] CompaniesCompanyIdConnectionsGet200Response data, response status code and response headers
    def companies_company_id_connections_connection_id_infoschema_get_with_http_info(company_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.companies_company_id_connections_connection_id_infoschema_get ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.companies_company_id_connections_connection_id_infoschema_get"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.companies_company_id_connections_connection_id_infoschema_get"
      end
      # resource path
      local_var_path = '/companies/{company_id}/connections/{connection_id}/infoschema'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'connection_id' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdConnectionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.companies_company_id_connections_connection_id_infoschema_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#companies_company_id_connections_connection_id_infoschema_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing connection by ID
    # @param company_id [String] 
    # @param connection_id [String] 
    # @param connection [Connection] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdConnectionsConnectionIdPatch200Response]
    def companies_company_id_connections_connection_id_patch(company_id, connection_id, connection, opts = {})
      data, _status_code, _headers = companies_company_id_connections_connection_id_patch_with_http_info(company_id, connection_id, connection, opts)
      data
    end

    # Update an existing connection by ID
    # @param company_id [String] 
    # @param connection_id [String] 
    # @param connection [Connection] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdConnectionsConnectionIdPatch200Response, Integer, Hash)>] CompaniesCompanyIdConnectionsConnectionIdPatch200Response data, response status code and response headers
    def companies_company_id_connections_connection_id_patch_with_http_info(company_id, connection_id, connection, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.companies_company_id_connections_connection_id_patch ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.companies_company_id_connections_connection_id_patch"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.companies_company_id_connections_connection_id_patch"
      end
      # verify the required parameter 'connection' is set
      if @api_client.config.client_side_validation && connection.nil?
        fail ArgumentError, "Missing the required parameter 'connection' when calling ConnectionsApi.companies_company_id_connections_connection_id_patch"
      end
      # resource path
      local_var_path = '/companies/{company_id}/connections/{connection_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'connection_id' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connection)

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdConnectionsConnectionIdPatch200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.companies_company_id_connections_connection_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#companies_company_id_connections_connection_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test the specified connection
    # @param company_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdConnectionsGet200Response]
    def companies_company_id_connections_connection_id_test_get(company_id, connection_id, opts = {})
      data, _status_code, _headers = companies_company_id_connections_connection_id_test_get_with_http_info(company_id, connection_id, opts)
      data
    end

    # Test the specified connection
    # @param company_id [String] 
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdConnectionsGet200Response, Integer, Hash)>] CompaniesCompanyIdConnectionsGet200Response data, response status code and response headers
    def companies_company_id_connections_connection_id_test_get_with_http_info(company_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.companies_company_id_connections_connection_id_test_get ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.companies_company_id_connections_connection_id_test_get"
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.companies_company_id_connections_connection_id_test_get"
      end
      # resource path
      local_var_path = '/companies/{company_id}/connections/{connection_id}/test'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'connection_id' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdConnectionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.companies_company_id_connections_connection_id_test_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#companies_company_id_connections_connection_id_test_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all connections for a specific company
    # @param company_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdConnectionsGet200Response]
    def companies_company_id_connections_get(company_id, opts = {})
      data, _status_code, _headers = companies_company_id_connections_get_with_http_info(company_id, opts)
      data
    end

    # Get all connections for a specific company
    # @param company_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdConnectionsGet200Response, Integer, Hash)>] CompaniesCompanyIdConnectionsGet200Response data, response status code and response headers
    def companies_company_id_connections_get_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.companies_company_id_connections_get ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.companies_company_id_connections_get"
      end
      # resource path
      local_var_path = '/companies/{company_id}/connections'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdConnectionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.companies_company_id_connections_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#companies_company_id_connections_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a new connection by ID
    # @param company_id [String] 
    # @param connection [Connection] 
    # @param [Hash] opts the optional parameters
    # @return [CompaniesCompanyIdConnectionsPost200Response]
    def companies_company_id_connections_post(company_id, connection, opts = {})
      data, _status_code, _headers = companies_company_id_connections_post_with_http_info(company_id, connection, opts)
      data
    end

    # Create a new connection by ID
    # @param company_id [String] 
    # @param connection [Connection] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CompaniesCompanyIdConnectionsPost200Response, Integer, Hash)>] CompaniesCompanyIdConnectionsPost200Response data, response status code and response headers
    def companies_company_id_connections_post_with_http_info(company_id, connection, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.companies_company_id_connections_post ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.companies_company_id_connections_post"
      end
      # verify the required parameter 'connection' is set
      if @api_client.config.client_side_validation && connection.nil?
        fail ArgumentError, "Missing the required parameter 'connection' when calling ConnectionsApi.companies_company_id_connections_post"
      end
      # resource path
      local_var_path = '/companies/{company_id}/connections'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connection)

      # return_type
      return_type = opts[:debug_return_type] || 'CompaniesCompanyIdConnectionsPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.companies_company_id_connections_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#companies_company_id_connections_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
