=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.25.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module SparteraApiSdk
  class EndpointsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new endpoint
    # @param company_id [String] Unique identifier for the Company
    # @param endpoints_input [EndpointsInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [CreateEndpoints200Response]
    def create_endpoints(company_id, endpoints_input, opts = {})
      data, _status_code, _headers = create_endpoints_with_http_info(company_id, endpoints_input, opts)
      data
    end

    # Create a new endpoint
    # @param company_id [String] Unique identifier for the Company
    # @param endpoints_input [EndpointsInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(CreateEndpoints200Response, Integer, Hash)>] CreateEndpoints200Response data, response status code and response headers
    def create_endpoints_with_http_info(company_id, endpoints_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.create_endpoints ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.create_endpoints"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.create_endpoints, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.create_endpoints, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.create_endpoints, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoints_input' is set
      if @api_client.config.client_side_validation && endpoints_input.nil?
        fail ArgumentError, "Missing the required parameter 'endpoints_input' when calling EndpointsApi.create_endpoints"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EndpointsApi.create_endpoints, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EndpointsApi.create_endpoints, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EndpointsApi.create_endpoints, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling EndpointsApi.create_endpoints, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling EndpointsApi.create_endpoints, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(endpoints_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.create_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#create_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /companies/{company_id}/endpoints/{endpoint_id}/keys
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param endpoints_input [EndpointsInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateEndpoints200Response]
    def create_endpoints_keys(company_id, endpoint_id, endpoints_input, opts = {})
      data, _status_code, _headers = create_endpoints_keys_with_http_info(company_id, endpoint_id, endpoints_input, opts)
      data
    end

    # POST /companies/{company_id}/endpoints/{endpoint_id}/keys
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param endpoints_input [EndpointsInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEndpoints200Response, Integer, Hash)>] CreateEndpoints200Response data, response status code and response headers
    def create_endpoints_keys_with_http_info(company_id, endpoint_id, endpoints_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.create_endpoints_keys ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.create_endpoints_keys"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.create_endpoints_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.create_endpoints_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.create_endpoints_keys, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.create_endpoints_keys"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.create_endpoints_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.create_endpoints_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.create_endpoints_keys, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoints_input' is set
      if @api_client.config.client_side_validation && endpoints_input.nil?
        fail ArgumentError, "Missing the required parameter 'endpoints_input' when calling EndpointsApi.create_endpoints_keys"
      end
      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}/keys'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(endpoints_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.create_endpoints_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#create_endpoints_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /companies/{company_id}/endpoints/{endpoint_id}/scan_column
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param endpoints_input [EndpointsInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateEndpoints200Response]
    def create_endpoints_scan_column(company_id, endpoint_id, endpoints_input, opts = {})
      data, _status_code, _headers = create_endpoints_scan_column_with_http_info(company_id, endpoint_id, endpoints_input, opts)
      data
    end

    # POST /companies/{company_id}/endpoints/{endpoint_id}/scan_column
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param endpoints_input [EndpointsInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEndpoints200Response, Integer, Hash)>] CreateEndpoints200Response data, response status code and response headers
    def create_endpoints_scan_column_with_http_info(company_id, endpoint_id, endpoints_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.create_endpoints_scan_column ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.create_endpoints_scan_column"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.create_endpoints_scan_column, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.create_endpoints_scan_column, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.create_endpoints_scan_column, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.create_endpoints_scan_column"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.create_endpoints_scan_column, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.create_endpoints_scan_column, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.create_endpoints_scan_column, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoints_input' is set
      if @api_client.config.client_side_validation && endpoints_input.nil?
        fail ArgumentError, "Missing the required parameter 'endpoints_input' when calling EndpointsApi.create_endpoints_scan_column"
      end
      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}/scan_column'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(endpoints_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.create_endpoints_scan_column",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#create_endpoints_scan_column\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete single endpoint by ID
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [DeleteEndpoints200Response]
    def delete_endpoints(company_id, endpoint_id, opts = {})
      data, _status_code, _headers = delete_endpoints_with_http_info(company_id, endpoint_id, opts)
      data
    end

    # Delete single endpoint by ID
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteEndpoints200Response, Integer, Hash)>] DeleteEndpoints200Response data, response status code and response headers
    def delete_endpoints_with_http_info(company_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.delete_endpoints ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.delete_endpoints"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.delete_endpoints, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.delete_endpoints, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.delete_endpoints, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.delete_endpoints"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.delete_endpoints, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.delete_endpoints, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.delete_endpoints, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.delete_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#delete_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # DELETE /companies/{company_id}/endpoints/{endpoint_id}/keys/{api_key_id}
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param api_key_id [String] Unique identifier for the Api Key
    # @param [Hash] opts the optional parameters
    # @return [DeleteEndpoints200Response]
    def delete_endpoints_keys(company_id, endpoint_id, api_key_id, opts = {})
      data, _status_code, _headers = delete_endpoints_keys_with_http_info(company_id, endpoint_id, api_key_id, opts)
      data
    end

    # DELETE /companies/{company_id}/endpoints/{endpoint_id}/keys/{api_key_id}
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param api_key_id [String] Unique identifier for the Api Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteEndpoints200Response, Integer, Hash)>] DeleteEndpoints200Response data, response status code and response headers
    def delete_endpoints_keys_with_http_info(company_id, endpoint_id, api_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.delete_endpoints_keys ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.delete_endpoints_keys"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.delete_endpoints_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.delete_endpoints_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.delete_endpoints_keys, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.delete_endpoints_keys"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.delete_endpoints_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.delete_endpoints_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.delete_endpoints_keys, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling EndpointsApi.delete_endpoints_keys"
      end
      if @api_client.config.client_side_validation && api_key_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "api_key_id" when calling EndpointsApi.delete_endpoints_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && api_key_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_key_id" when calling EndpointsApi.delete_endpoints_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && api_key_id !~ pattern
        fail ArgumentError, "invalid value for 'api_key_id' when calling EndpointsApi.delete_endpoints_keys, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}/keys/{api_key_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s)).sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.delete_endpoints_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#delete_endpoints_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single endpoint by ID
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [GetEndpointsByIdConnectionsDescribe200Response]
    def get_endpoints_by_id(company_id, endpoint_id, opts = {})
      data, _status_code, _headers = get_endpoints_by_id_with_http_info(company_id, endpoint_id, opts)
      data
    end

    # Get single endpoint by ID
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEndpointsByIdConnectionsDescribe200Response, Integer, Hash)>] GetEndpointsByIdConnectionsDescribe200Response data, response status code and response headers
    def get_endpoints_by_id_with_http_info(company_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.get_endpoints_by_id ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.get_endpoints_by_id"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.get_endpoints_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEndpointsByIdConnectionsDescribe200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.get_endpoints_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#get_endpoints_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /companies/{company_id}/endpoints/{endpoint_id}/available-endpoints
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [GetEndpointsByIdConnectionsDescribe200Response]
    def get_endpoints_by_id_available_endpoints(company_id, endpoint_id, opts = {})
      data, _status_code, _headers = get_endpoints_by_id_available_endpoints_with_http_info(company_id, endpoint_id, opts)
      data
    end

    # GET /companies/{company_id}/endpoints/{endpoint_id}/available-endpoints
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEndpointsByIdConnectionsDescribe200Response, Integer, Hash)>] GetEndpointsByIdConnectionsDescribe200Response data, response status code and response headers
    def get_endpoints_by_id_available_endpoints_with_http_info(company_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.get_endpoints_by_id_available_endpoints ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.get_endpoints_by_id_available_endpoints"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_available_endpoints, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_available_endpoints, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.get_endpoints_by_id_available_endpoints, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_available_endpoints"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_available_endpoints, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_available_endpoints, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_available_endpoints, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}/available-endpoints'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEndpointsByIdConnectionsDescribe200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.get_endpoints_by_id_available_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#get_endpoints_by_id_available_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get schema information for a connection      Query parameters:         include_fields: Whether to include field information (default: true)         schemas: Optional comma-separated schemas to include         tables: Optional comma-separated tables to include
    # @param company_id [String] Unique identifier for the Company
    # @param connection_id [String] Unique identifier for the Connection
    # @param [Hash] opts the optional parameters
    # @return [GetEndpointsByIdConnectionsDescribe200Response]
    def get_endpoints_by_id_connections_describe(company_id, connection_id, opts = {})
      data, _status_code, _headers = get_endpoints_by_id_connections_describe_with_http_info(company_id, connection_id, opts)
      data
    end

    # Get schema information for a connection      Query parameters:         include_fields: Whether to include field information (default: true)         schemas: Optional comma-separated schemas to include         tables: Optional comma-separated tables to include
    # @param company_id [String] Unique identifier for the Company
    # @param connection_id [String] Unique identifier for the Connection
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEndpointsByIdConnectionsDescribe200Response, Integer, Hash)>] GetEndpointsByIdConnectionsDescribe200Response data, response status code and response headers
    def get_endpoints_by_id_connections_describe_with_http_info(company_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.get_endpoints_by_id_connections_describe ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.get_endpoints_by_id_connections_describe"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_connections_describe, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_connections_describe, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.get_endpoints_by_id_connections_describe, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling EndpointsApi.get_endpoints_by_id_connections_describe"
      end
      if @api_client.config.client_side_validation && connection_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "connection_id" when calling EndpointsApi.get_endpoints_by_id_connections_describe, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && connection_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "connection_id" when calling EndpointsApi.get_endpoints_by_id_connections_describe, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && connection_id !~ pattern
        fail ArgumentError, "invalid value for 'connection_id' when calling EndpointsApi.get_endpoints_by_id_connections_describe, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints/../connections/{connection_id}/describe'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'connection_id' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEndpointsByIdConnectionsDescribe200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.get_endpoints_by_id_connections_describe",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#get_endpoints_by_id_connections_describe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Execute an endpoint with pagination support.      Customer-facing route that returns paginated data.     Query params: ?start=0&limit=100
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [GetEndpointsByIdConnectionsDescribe200Response]
    def get_endpoints_by_id_execute(company_id, endpoint_id, opts = {})
      data, _status_code, _headers = get_endpoints_by_id_execute_with_http_info(company_id, endpoint_id, opts)
      data
    end

    # Execute an endpoint with pagination support.      Customer-facing route that returns paginated data.     Query params: ?start&#x3D;0&amp;limit&#x3D;100
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEndpointsByIdConnectionsDescribe200Response, Integer, Hash)>] GetEndpointsByIdConnectionsDescribe200Response data, response status code and response headers
    def get_endpoints_by_id_execute_with_http_info(company_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.get_endpoints_by_id_execute ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.get_endpoints_by_id_execute"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_execute, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_execute, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.get_endpoints_by_id_execute, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_execute"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_execute, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_execute, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_execute, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}/execute'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEndpointsByIdConnectionsDescribe200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.get_endpoints_by_id_execute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#get_endpoints_by_id_execute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /companies/{company_id}/endpoints/{endpoint_id}/keys
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [GetEndpointsByIdConnectionsDescribe200Response]
    def get_endpoints_by_id_keys(company_id, endpoint_id, opts = {})
      data, _status_code, _headers = get_endpoints_by_id_keys_with_http_info(company_id, endpoint_id, opts)
      data
    end

    # GET /companies/{company_id}/endpoints/{endpoint_id}/keys
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEndpointsByIdConnectionsDescribe200Response, Integer, Hash)>] GetEndpointsByIdConnectionsDescribe200Response data, response status code and response headers
    def get_endpoints_by_id_keys_with_http_info(company_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.get_endpoints_by_id_keys ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.get_endpoints_by_id_keys"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.get_endpoints_by_id_keys, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_keys"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_keys, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}/keys'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEndpointsByIdConnectionsDescribe200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.get_endpoints_by_id_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#get_endpoints_by_id_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /companies/{company_id}/endpoints/{endpoint_id}/recommendations
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [GetEndpointsByIdConnectionsDescribe200Response]
    def get_endpoints_by_id_recommendations(company_id, endpoint_id, opts = {})
      data, _status_code, _headers = get_endpoints_by_id_recommendations_with_http_info(company_id, endpoint_id, opts)
      data
    end

    # GET /companies/{company_id}/endpoints/{endpoint_id}/recommendations
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEndpointsByIdConnectionsDescribe200Response, Integer, Hash)>] GetEndpointsByIdConnectionsDescribe200Response data, response status code and response headers
    def get_endpoints_by_id_recommendations_with_http_info(company_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.get_endpoints_by_id_recommendations ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.get_endpoints_by_id_recommendations"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_recommendations, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_recommendations, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.get_endpoints_by_id_recommendations, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_recommendations"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_recommendations, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_recommendations, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_recommendations, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}/recommendations'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEndpointsByIdConnectionsDescribe200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.get_endpoints_by_id_recommendations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#get_endpoints_by_id_recommendations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get usage statistics for an endpoint      Query parameters:         days: Number of days to analyze (default: 30)
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [GetEndpointsByIdConnectionsDescribe200Response]
    def get_endpoints_by_id_stats(company_id, endpoint_id, opts = {})
      data, _status_code, _headers = get_endpoints_by_id_stats_with_http_info(company_id, endpoint_id, opts)
      data
    end

    # Get usage statistics for an endpoint      Query parameters:         days: Number of days to analyze (default: 30)
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEndpointsByIdConnectionsDescribe200Response, Integer, Hash)>] GetEndpointsByIdConnectionsDescribe200Response data, response status code and response headers
    def get_endpoints_by_id_stats_with_http_info(company_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.get_endpoints_by_id_stats ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.get_endpoints_by_id_stats"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_stats, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_stats, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.get_endpoints_by_id_stats, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_stats"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_stats, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_stats, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_stats, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}/stats'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEndpointsByIdConnectionsDescribe200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.get_endpoints_by_id_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#get_endpoints_by_id_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test an endpoint with sample data      Request body (optional):         limit: Number of sample rows to return (default: 10)
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [GetEndpointsByIdConnectionsDescribe200Response]
    def get_endpoints_by_id_test(company_id, endpoint_id, opts = {})
      data, _status_code, _headers = get_endpoints_by_id_test_with_http_info(company_id, endpoint_id, opts)
      data
    end

    # Test an endpoint with sample data      Request body (optional):         limit: Number of sample rows to return (default: 10)
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEndpointsByIdConnectionsDescribe200Response, Integer, Hash)>] GetEndpointsByIdConnectionsDescribe200Response data, response status code and response headers
    def get_endpoints_by_id_test_with_http_info(company_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.get_endpoints_by_id_test ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.get_endpoints_by_id_test"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_test, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_test, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.get_endpoints_by_id_test, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_test"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_test, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_test, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_test, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}/test'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEndpointsByIdConnectionsDescribe200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.get_endpoints_by_id_test",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#get_endpoints_by_id_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /companies/{company_id}/endpoints/{endpoint_id}/url
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [GetEndpointsByIdConnectionsDescribe200Response]
    def get_endpoints_by_id_url(company_id, endpoint_id, opts = {})
      data, _status_code, _headers = get_endpoints_by_id_url_with_http_info(company_id, endpoint_id, opts)
      data
    end

    # GET /companies/{company_id}/endpoints/{endpoint_id}/url
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetEndpointsByIdConnectionsDescribe200Response, Integer, Hash)>] GetEndpointsByIdConnectionsDescribe200Response data, response status code and response headers
    def get_endpoints_by_id_url_with_http_info(company_id, endpoint_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.get_endpoints_by_id_url ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.get_endpoints_by_id_url"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_url, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.get_endpoints_by_id_url, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.get_endpoints_by_id_url, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_url"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_url, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.get_endpoints_by_id_url, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.get_endpoints_by_id_url, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}/url'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEndpointsByIdConnectionsDescribe200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.get_endpoints_by_id_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#get_endpoints_by_id_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all endpoints for a specific company with pagination, filtering, and sorting
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [ListEndpoints200Response]
    def list_endpoints(company_id, opts = {})
      data, _status_code, _headers = list_endpoints_with_http_info(company_id, opts)
      data
    end

    # Get all endpoints for a specific company with pagination, filtering, and sorting
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(ListEndpoints200Response, Integer, Hash)>] ListEndpoints200Response data, response status code and response headers
    def list_endpoints_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.list_endpoints ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.list_endpoints"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.list_endpoints, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.list_endpoints, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.list_endpoints, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling EndpointsApi.list_endpoints, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EndpointsApi.list_endpoints, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling EndpointsApi.list_endpoints, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling EndpointsApi.list_endpoints, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling EndpointsApi.list_endpoints, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/endpoints'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.list_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#list_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing endpoint by ID
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param endpoints_update [EndpointsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateEndpoints200Response]
    def update_endpoints(company_id, endpoint_id, endpoints_update, opts = {})
      data, _status_code, _headers = update_endpoints_with_http_info(company_id, endpoint_id, endpoints_update, opts)
      data
    end

    # Update an existing endpoint by ID
    # @param company_id [String] Unique identifier for the Company
    # @param endpoint_id [String] Unique identifier for the Endpoint
    # @param endpoints_update [EndpointsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateEndpoints200Response, Integer, Hash)>] UpdateEndpoints200Response data, response status code and response headers
    def update_endpoints_with_http_info(company_id, endpoint_id, endpoints_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EndpointsApi.update_endpoints ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling EndpointsApi.update_endpoints"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.update_endpoints, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling EndpointsApi.update_endpoints, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling EndpointsApi.update_endpoints, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoint_id' is set
      if @api_client.config.client_side_validation && endpoint_id.nil?
        fail ArgumentError, "Missing the required parameter 'endpoint_id' when calling EndpointsApi.update_endpoints"
      end
      if @api_client.config.client_side_validation && endpoint_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.update_endpoints, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && endpoint_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "endpoint_id" when calling EndpointsApi.update_endpoints, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && endpoint_id !~ pattern
        fail ArgumentError, "invalid value for 'endpoint_id' when calling EndpointsApi.update_endpoints, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'endpoints_update' is set
      if @api_client.config.client_side_validation && endpoints_update.nil?
        fail ArgumentError, "Missing the required parameter 'endpoints_update' when calling EndpointsApi.update_endpoints"
      end
      # resource path
      local_var_path = '/companies/{company_id}/endpoints/{endpoint_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'endpoint_id' + '}', CGI.escape(endpoint_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(endpoints_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateEndpoints200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"EndpointsApi.update_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EndpointsApi#update_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
