=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.25.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module SparteraApiSdk
  class FavoritesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # POST /companies/{company_id}/users/{user_id}/favorites
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param favorites_input [FavoritesInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateFavorites200Response]
    def create_favorites(company_id, user_id, favorites_input, opts = {})
      data, _status_code, _headers = create_favorites_with_http_info(company_id, user_id, favorites_input, opts)
      data
    end

    # POST /companies/{company_id}/users/{user_id}/favorites
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param favorites_input [FavoritesInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateFavorites200Response, Integer, Hash)>] CreateFavorites200Response data, response status code and response headers
    def create_favorites_with_http_info(company_id, user_id, favorites_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoritesApi.create_favorites ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling FavoritesApi.create_favorites"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.create_favorites, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.create_favorites, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling FavoritesApi.create_favorites, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling FavoritesApi.create_favorites"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.create_favorites, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.create_favorites, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling FavoritesApi.create_favorites, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'favorites_input' is set
      if @api_client.config.client_side_validation && favorites_input.nil?
        fail ArgumentError, "Missing the required parameter 'favorites_input' when calling FavoritesApi.create_favorites"
      end
      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/favorites'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(favorites_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateFavorites200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FavoritesApi.create_favorites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoritesApi#create_favorites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete single favorite by ID (unfavorite an asset)
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param favorite_id [String] Unique identifier for the Favorite
    # @param [Hash] opts the optional parameters
    # @return [DeleteFavorites200Response]
    def delete_favorites(company_id, user_id, favorite_id, opts = {})
      data, _status_code, _headers = delete_favorites_with_http_info(company_id, user_id, favorite_id, opts)
      data
    end

    # Delete single favorite by ID (unfavorite an asset)
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param favorite_id [String] Unique identifier for the Favorite
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteFavorites200Response, Integer, Hash)>] DeleteFavorites200Response data, response status code and response headers
    def delete_favorites_with_http_info(company_id, user_id, favorite_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoritesApi.delete_favorites ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling FavoritesApi.delete_favorites"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.delete_favorites, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.delete_favorites, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling FavoritesApi.delete_favorites, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling FavoritesApi.delete_favorites"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.delete_favorites, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.delete_favorites, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling FavoritesApi.delete_favorites, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'favorite_id' is set
      if @api_client.config.client_side_validation && favorite_id.nil?
        fail ArgumentError, "Missing the required parameter 'favorite_id' when calling FavoritesApi.delete_favorites"
      end
      if @api_client.config.client_side_validation && favorite_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "favorite_id" when calling FavoritesApi.delete_favorites, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && favorite_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "favorite_id" when calling FavoritesApi.delete_favorites, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && favorite_id !~ pattern
        fail ArgumentError, "invalid value for 'favorite_id' when calling FavoritesApi.delete_favorites, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/favorites/{favorite_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s)).sub('{' + 'favorite_id' + '}', CGI.escape(favorite_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteFavorites200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FavoritesApi.delete_favorites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoritesApi#delete_favorites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all favorites for a specific user
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param [Hash] opts the optional parameters
    # @return [GetFavoritesById200Response]
    def get_favorites_by_id(company_id, user_id, opts = {})
      data, _status_code, _headers = get_favorites_by_id_with_http_info(company_id, user_id, opts)
      data
    end

    # Get a list of all favorites for a specific user
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFavoritesById200Response, Integer, Hash)>] GetFavoritesById200Response data, response status code and response headers
    def get_favorites_by_id_with_http_info(company_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoritesApi.get_favorites_by_id ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling FavoritesApi.get_favorites_by_id"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.get_favorites_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.get_favorites_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling FavoritesApi.get_favorites_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling FavoritesApi.get_favorites_by_id"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.get_favorites_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.get_favorites_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling FavoritesApi.get_favorites_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/favorites'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFavoritesById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FavoritesApi.get_favorites_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoritesApi#get_favorites_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single favorite by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param favorite_id [String] Unique identifier for the Favorite
    # @param [Hash] opts the optional parameters
    # @return [GetFavoritesById200Response]
    def get_favorites_by_id_users(company_id, user_id, favorite_id, opts = {})
      data, _status_code, _headers = get_favorites_by_id_users_with_http_info(company_id, user_id, favorite_id, opts)
      data
    end

    # Get single favorite by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param favorite_id [String] Unique identifier for the Favorite
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFavoritesById200Response, Integer, Hash)>] GetFavoritesById200Response data, response status code and response headers
    def get_favorites_by_id_users_with_http_info(company_id, user_id, favorite_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoritesApi.get_favorites_by_id_users ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling FavoritesApi.get_favorites_by_id_users"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.get_favorites_by_id_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.get_favorites_by_id_users, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling FavoritesApi.get_favorites_by_id_users, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling FavoritesApi.get_favorites_by_id_users"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.get_favorites_by_id_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.get_favorites_by_id_users, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling FavoritesApi.get_favorites_by_id_users, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'favorite_id' is set
      if @api_client.config.client_side_validation && favorite_id.nil?
        fail ArgumentError, "Missing the required parameter 'favorite_id' when calling FavoritesApi.get_favorites_by_id_users"
      end
      if @api_client.config.client_side_validation && favorite_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "favorite_id" when calling FavoritesApi.get_favorites_by_id_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && favorite_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "favorite_id" when calling FavoritesApi.get_favorites_by_id_users, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && favorite_id !~ pattern
        fail ArgumentError, "invalid value for 'favorite_id' when calling FavoritesApi.get_favorites_by_id_users, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/favorites/{favorite_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s)).sub('{' + 'favorite_id' + '}', CGI.escape(favorite_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFavoritesById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FavoritesApi.get_favorites_by_id_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoritesApi#get_favorites_by_id_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all favorites for the specified user in a specific category
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param category [String] Parameter for category
    # @param [Hash] opts the optional parameters
    # @return [GetFavoritesById200Response]
    def get_favorites_by_id_users_category(company_id, user_id, category, opts = {})
      data, _status_code, _headers = get_favorites_by_id_users_category_with_http_info(company_id, user_id, category, opts)
      data
    end

    # Get all favorites for the specified user in a specific category
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param category [String] Parameter for category
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFavoritesById200Response, Integer, Hash)>] GetFavoritesById200Response data, response status code and response headers
    def get_favorites_by_id_users_category_with_http_info(company_id, user_id, category, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoritesApi.get_favorites_by_id_users_category ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling FavoritesApi.get_favorites_by_id_users_category"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.get_favorites_by_id_users_category, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.get_favorites_by_id_users_category, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling FavoritesApi.get_favorites_by_id_users_category, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling FavoritesApi.get_favorites_by_id_users_category"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.get_favorites_by_id_users_category, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.get_favorites_by_id_users_category, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling FavoritesApi.get_favorites_by_id_users_category, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'category' is set
      if @api_client.config.client_side_validation && category.nil?
        fail ArgumentError, "Missing the required parameter 'category' when calling FavoritesApi.get_favorites_by_id_users_category"
      end
      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/favorites/category/{category}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s)).sub('{' + 'category' + '}', CGI.escape(category.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFavoritesById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FavoritesApi.get_favorites_by_id_users_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoritesApi#get_favorites_by_id_users_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check if the specified user has favorited a specific asset
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [GetFavoritesById200Response]
    def get_favorites_by_id_users_check(company_id, user_id, asset_id, opts = {})
      data, _status_code, _headers = get_favorites_by_id_users_check_with_http_info(company_id, user_id, asset_id, opts)
      data
    end

    # Check if the specified user has favorited a specific asset
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFavoritesById200Response, Integer, Hash)>] GetFavoritesById200Response data, response status code and response headers
    def get_favorites_by_id_users_check_with_http_info(company_id, user_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoritesApi.get_favorites_by_id_users_check ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling FavoritesApi.get_favorites_by_id_users_check"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.get_favorites_by_id_users_check, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.get_favorites_by_id_users_check, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling FavoritesApi.get_favorites_by_id_users_check, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling FavoritesApi.get_favorites_by_id_users_check"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.get_favorites_by_id_users_check, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.get_favorites_by_id_users_check, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling FavoritesApi.get_favorites_by_id_users_check, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling FavoritesApi.get_favorites_by_id_users_check"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling FavoritesApi.get_favorites_by_id_users_check, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling FavoritesApi.get_favorites_by_id_users_check, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling FavoritesApi.get_favorites_by_id_users_check, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/favorites/check/{asset_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFavoritesById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FavoritesApi.get_favorites_by_id_users_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoritesApi#get_favorites_by_id_users_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all favorites for the specified user that don't have a category
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param [Hash] opts the optional parameters
    # @return [GetFavoritesById200Response]
    def get_favorites_by_id_users_uncategorized(company_id, user_id, opts = {})
      data, _status_code, _headers = get_favorites_by_id_users_uncategorized_with_http_info(company_id, user_id, opts)
      data
    end

    # Get all favorites for the specified user that don&#39;t have a category
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFavoritesById200Response, Integer, Hash)>] GetFavoritesById200Response data, response status code and response headers
    def get_favorites_by_id_users_uncategorized_with_http_info(company_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoritesApi.get_favorites_by_id_users_uncategorized ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling FavoritesApi.get_favorites_by_id_users_uncategorized"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.get_favorites_by_id_users_uncategorized, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.get_favorites_by_id_users_uncategorized, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling FavoritesApi.get_favorites_by_id_users_uncategorized, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling FavoritesApi.get_favorites_by_id_users_uncategorized"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.get_favorites_by_id_users_uncategorized, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.get_favorites_by_id_users_uncategorized, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling FavoritesApi.get_favorites_by_id_users_uncategorized, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/favorites/uncategorized'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFavoritesById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FavoritesApi.get_favorites_by_id_users_uncategorized",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoritesApi#get_favorites_by_id_users_uncategorized\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing favorite by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param favorite_id [String] Unique identifier for the Favorite
    # @param favorites_update [FavoritesUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateFavorites200Response]
    def update_favorites(company_id, user_id, favorite_id, favorites_update, opts = {})
      data, _status_code, _headers = update_favorites_with_http_info(company_id, user_id, favorite_id, favorites_update, opts)
      data
    end

    # Update an existing favorite by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param favorite_id [String] Unique identifier for the Favorite
    # @param favorites_update [FavoritesUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateFavorites200Response, Integer, Hash)>] UpdateFavorites200Response data, response status code and response headers
    def update_favorites_with_http_info(company_id, user_id, favorite_id, favorites_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoritesApi.update_favorites ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling FavoritesApi.update_favorites"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.update_favorites, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling FavoritesApi.update_favorites, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling FavoritesApi.update_favorites, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling FavoritesApi.update_favorites"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.update_favorites, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling FavoritesApi.update_favorites, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling FavoritesApi.update_favorites, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'favorite_id' is set
      if @api_client.config.client_side_validation && favorite_id.nil?
        fail ArgumentError, "Missing the required parameter 'favorite_id' when calling FavoritesApi.update_favorites"
      end
      if @api_client.config.client_side_validation && favorite_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "favorite_id" when calling FavoritesApi.update_favorites, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && favorite_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "favorite_id" when calling FavoritesApi.update_favorites, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && favorite_id !~ pattern
        fail ArgumentError, "invalid value for 'favorite_id' when calling FavoritesApi.update_favorites, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'favorites_update' is set
      if @api_client.config.client_side_validation && favorites_update.nil?
        fail ArgumentError, "Missing the required parameter 'favorites_update' when calling FavoritesApi.update_favorites"
      end
      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/favorites/{favorite_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s)).sub('{' + 'favorite_id' + '}', CGI.escape(favorite_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(favorites_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateFavorites200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"FavoritesApi.update_favorites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoritesApi#update_favorites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
