=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.24.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module SparteraApiSdk
  class JobFunctionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get single job function by ID
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JobFunctionsFunctionIdGet200Response]
    def job_functions_function_id_get(function_id, opts = {})
      data, _status_code, _headers = job_functions_function_id_get_with_http_info(function_id, opts)
      data
    end

    # Get single job function by ID
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobFunctionsFunctionIdGet200Response, Integer, Hash)>] JobFunctionsFunctionIdGet200Response data, response status code and response headers
    def job_functions_function_id_get_with_http_info(function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobFunctionsApi.job_functions_function_id_get ...'
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling JobFunctionsApi.job_functions_function_id_get"
      end
      # resource path
      local_var_path = '/job-functions/{function_id}'.sub('{' + 'function_id' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobFunctionsFunctionIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"JobFunctionsApi.job_functions_function_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobFunctionsApi#job_functions_function_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all job functions
    # @param [Hash] opts the optional parameters
    # @return [JobFunctionsGet200Response]
    def job_functions_get(opts = {})
      data, _status_code, _headers = job_functions_get_with_http_info(opts)
      data
    end

    # Get a list of all job functions
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobFunctionsGet200Response, Integer, Hash)>] JobFunctionsGet200Response data, response status code and response headers
    def job_functions_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: JobFunctionsApi.job_functions_get ...'
      end
      # resource path
      local_var_path = '/job-functions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobFunctionsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"JobFunctionsApi.job_functions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: JobFunctionsApi#job_functions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
