=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.25.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module SparteraApiSdk
  class PostsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # POST /companies/{company_id}/posts
    # @param company_id [String] Unique identifier for the Company
    # @param posts_input [PostsInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [CreatePosts200Response]
    def create_posts(company_id, posts_input, opts = {})
      data, _status_code, _headers = create_posts_with_http_info(company_id, posts_input, opts)
      data
    end

    # POST /companies/{company_id}/posts
    # @param company_id [String] Unique identifier for the Company
    # @param posts_input [PostsInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(CreatePosts200Response, Integer, Hash)>] CreatePosts200Response data, response status code and response headers
    def create_posts_with_http_info(company_id, posts_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.create_posts ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostsApi.create_posts"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.create_posts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.create_posts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostsApi.create_posts, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'posts_input' is set
      if @api_client.config.client_side_validation && posts_input.nil?
        fail ArgumentError, "Missing the required parameter 'posts_input' when calling PostsApi.create_posts"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PostsApi.create_posts, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostsApi.create_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostsApi.create_posts, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling PostsApi.create_posts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling PostsApi.create_posts, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/posts'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(posts_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePosts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.create_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#create_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish a post to an external platform via an integration.      Args:         post_id: ID of the post to publish         integration_id: ID of the integration to use (from postgen_integrations)      Returns:         Publication record with external_url and external_post_id
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param integration_id [String] Unique identifier for the Integration
    # @param posts_input [PostsInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePosts200Response]
    def create_posts2(company_id, post_id, integration_id, posts_input, opts = {})
      data, _status_code, _headers = create_posts2_with_http_info(company_id, post_id, integration_id, posts_input, opts)
      data
    end

    # Publish a post to an external platform via an integration.      Args:         post_id: ID of the post to publish         integration_id: ID of the integration to use (from postgen_integrations)      Returns:         Publication record with external_url and external_post_id
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param integration_id [String] Unique identifier for the Integration
    # @param posts_input [PostsInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePosts200Response, Integer, Hash)>] CreatePosts200Response data, response status code and response headers
    def create_posts2_with_http_info(company_id, post_id, integration_id, posts_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.create_posts2 ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostsApi.create_posts2"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.create_posts2, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.create_posts2, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostsApi.create_posts2, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.create_posts2"
      end
      if @api_client.config.client_side_validation && post_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.create_posts2, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && post_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.create_posts2, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && post_id !~ pattern
        fail ArgumentError, "invalid value for 'post_id' when calling PostsApi.create_posts2, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'integration_id' is set
      if @api_client.config.client_side_validation && integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_id' when calling PostsApi.create_posts2"
      end
      if @api_client.config.client_side_validation && integration_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "integration_id" when calling PostsApi.create_posts2, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && integration_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "integration_id" when calling PostsApi.create_posts2, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && integration_id !~ pattern
        fail ArgumentError, "invalid value for 'integration_id' when calling PostsApi.create_posts2, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'posts_input' is set
      if @api_client.config.client_side_validation && posts_input.nil?
        fail ArgumentError, "Missing the required parameter 'posts_input' when calling PostsApi.create_posts2"
      end
      # resource path
      local_var_path = '/companies/{company_id}/posts/{post_id}/publish/{integration_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s)).sub('{' + 'integration_id' + '}', CGI.escape(integration_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(posts_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePosts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.create_posts2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#create_posts2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish a post (make it publicly visible).
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param posts_input [PostsInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePosts200Response]
    def create_posts_publish(company_id, post_id, posts_input, opts = {})
      data, _status_code, _headers = create_posts_publish_with_http_info(company_id, post_id, posts_input, opts)
      data
    end

    # Publish a post (make it publicly visible).
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param posts_input [PostsInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePosts200Response, Integer, Hash)>] CreatePosts200Response data, response status code and response headers
    def create_posts_publish_with_http_info(company_id, post_id, posts_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.create_posts_publish ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostsApi.create_posts_publish"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.create_posts_publish, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.create_posts_publish, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostsApi.create_posts_publish, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.create_posts_publish"
      end
      if @api_client.config.client_side_validation && post_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.create_posts_publish, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && post_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.create_posts_publish, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && post_id !~ pattern
        fail ArgumentError, "invalid value for 'post_id' when calling PostsApi.create_posts_publish, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'posts_input' is set
      if @api_client.config.client_side_validation && posts_input.nil?
        fail ArgumentError, "Missing the required parameter 'posts_input' when calling PostsApi.create_posts_publish"
      end
      # resource path
      local_var_path = '/companies/{company_id}/posts/{post_id}/publish'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(posts_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePosts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.create_posts_publish",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#create_posts_publish\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unpublish a post (make it private/draft again).
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param posts_input [PostsInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePosts200Response]
    def create_posts_unpublish(company_id, post_id, posts_input, opts = {})
      data, _status_code, _headers = create_posts_unpublish_with_http_info(company_id, post_id, posts_input, opts)
      data
    end

    # Unpublish a post (make it private/draft again).
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param posts_input [PostsInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePosts200Response, Integer, Hash)>] CreatePosts200Response data, response status code and response headers
    def create_posts_unpublish_with_http_info(company_id, post_id, posts_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.create_posts_unpublish ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostsApi.create_posts_unpublish"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.create_posts_unpublish, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.create_posts_unpublish, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostsApi.create_posts_unpublish, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.create_posts_unpublish"
      end
      if @api_client.config.client_side_validation && post_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.create_posts_unpublish, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && post_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.create_posts_unpublish, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && post_id !~ pattern
        fail ArgumentError, "invalid value for 'post_id' when calling PostsApi.create_posts_unpublish, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'posts_input' is set
      if @api_client.config.client_side_validation && posts_input.nil?
        fail ArgumentError, "Missing the required parameter 'posts_input' when calling PostsApi.create_posts_unpublish"
      end
      # resource path
      local_var_path = '/companies/{company_id}/posts/{post_id}/unpublish'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(posts_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePosts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.create_posts_unpublish",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#create_posts_unpublish\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Increment view count for a post.     Public endpoint (no authentication required).
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param posts_input [PostsInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePosts200Response]
    def create_posts_view(company_id, post_id, posts_input, opts = {})
      data, _status_code, _headers = create_posts_view_with_http_info(company_id, post_id, posts_input, opts)
      data
    end

    # Increment view count for a post.     Public endpoint (no authentication required).
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param posts_input [PostsInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePosts200Response, Integer, Hash)>] CreatePosts200Response data, response status code and response headers
    def create_posts_view_with_http_info(company_id, post_id, posts_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.create_posts_view ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostsApi.create_posts_view"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.create_posts_view, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.create_posts_view, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostsApi.create_posts_view, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.create_posts_view"
      end
      if @api_client.config.client_side_validation && post_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.create_posts_view, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && post_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.create_posts_view, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && post_id !~ pattern
        fail ArgumentError, "invalid value for 'post_id' when calling PostsApi.create_posts_view, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'posts_input' is set
      if @api_client.config.client_side_validation && posts_input.nil?
        fail ArgumentError, "Missing the required parameter 'posts_input' when calling PostsApi.create_posts_view"
      end
      # resource path
      local_var_path = '/companies/{company_id}/posts/{post_id}/view'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(posts_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePosts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.create_posts_view",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#create_posts_view\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete single post by ID.
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param [Hash] opts the optional parameters
    # @return [DeletePosts200Response]
    def delete_posts(company_id, post_id, opts = {})
      data, _status_code, _headers = delete_posts_with_http_info(company_id, post_id, opts)
      data
    end

    # Delete single post by ID.
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePosts200Response, Integer, Hash)>] DeletePosts200Response data, response status code and response headers
    def delete_posts_with_http_info(company_id, post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.delete_posts ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostsApi.delete_posts"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.delete_posts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.delete_posts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostsApi.delete_posts, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.delete_posts"
      end
      if @api_client.config.client_side_validation && post_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.delete_posts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && post_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.delete_posts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && post_id !~ pattern
        fail ArgumentError, "invalid value for 'post_id' when calling PostsApi.delete_posts, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/posts/{post_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletePosts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.delete_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#delete_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single post by ID.
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param [Hash] opts the optional parameters
    # @return [GetPostsById200Response]
    def get_posts_by_id(company_id, post_id, opts = {})
      data, _status_code, _headers = get_posts_by_id_with_http_info(company_id, post_id, opts)
      data
    end

    # Get single post by ID.
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPostsById200Response, Integer, Hash)>] GetPostsById200Response data, response status code and response headers
    def get_posts_by_id_with_http_info(company_id, post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.get_posts_by_id ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostsApi.get_posts_by_id"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.get_posts_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.get_posts_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostsApi.get_posts_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.get_posts_by_id"
      end
      if @api_client.config.client_side_validation && post_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.get_posts_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && post_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.get_posts_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && post_id !~ pattern
        fail ArgumentError, "invalid value for 'post_id' when calling PostsApi.get_posts_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/posts/{post_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPostsById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.get_posts_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#get_posts_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all publications for a post.     Shows where this post has been published to external platforms.      Returns:         Array of publication records with platform, URL, status
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param [Hash] opts the optional parameters
    # @return [GetPostsById200Response]
    def get_posts_by_id_publications(company_id, post_id, opts = {})
      data, _status_code, _headers = get_posts_by_id_publications_with_http_info(company_id, post_id, opts)
      data
    end

    # Get all publications for a post.     Shows where this post has been published to external platforms.      Returns:         Array of publication records with platform, URL, status
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPostsById200Response, Integer, Hash)>] GetPostsById200Response data, response status code and response headers
    def get_posts_by_id_publications_with_http_info(company_id, post_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.get_posts_by_id_publications ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostsApi.get_posts_by_id_publications"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.get_posts_by_id_publications, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.get_posts_by_id_publications, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostsApi.get_posts_by_id_publications, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.get_posts_by_id_publications"
      end
      if @api_client.config.client_side_validation && post_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.get_posts_by_id_publications, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && post_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.get_posts_by_id_publications, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && post_id !~ pattern
        fail ArgumentError, "invalid value for 'post_id' when calling PostsApi.get_posts_by_id_publications, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/posts/{post_id}/publications'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPostsById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.get_posts_by_id_publications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#get_posts_by_id_publications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all posts for the user's company.     Supports filtering, sorting, pagination.
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [ListPosts200Response]
    def list_posts(company_id, opts = {})
      data, _status_code, _headers = list_posts_with_http_info(company_id, opts)
      data
    end

    # Get a list of all posts for the user&#39;s company.     Supports filtering, sorting, pagination.
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(ListPosts200Response, Integer, Hash)>] ListPosts200Response data, response status code and response headers
    def list_posts_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.list_posts ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostsApi.list_posts"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.list_posts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.list_posts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostsApi.list_posts, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PostsApi.list_posts, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostsApi.list_posts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostsApi.list_posts, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling PostsApi.list_posts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling PostsApi.list_posts, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/posts'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPosts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.list_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#list_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # GET /companies/{company_id}/posts/summary
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [ListPosts200Response]
    def list_posts_summary(company_id, opts = {})
      data, _status_code, _headers = list_posts_summary_with_http_info(company_id, opts)
      data
    end

    # GET /companies/{company_id}/posts/summary
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(ListPosts200Response, Integer, Hash)>] ListPosts200Response data, response status code and response headers
    def list_posts_summary_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.list_posts_summary ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostsApi.list_posts_summary"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.list_posts_summary, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.list_posts_summary, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostsApi.list_posts_summary, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PostsApi.list_posts_summary, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostsApi.list_posts_summary, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostsApi.list_posts_summary, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling PostsApi.list_posts_summary, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling PostsApi.list_posts_summary, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/posts/summary'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPosts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.list_posts_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#list_posts_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing post by ID.      Note: last_edited_at is automatically updated.
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param posts_update [PostsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UpdatePosts200Response]
    def update_posts(company_id, post_id, posts_update, opts = {})
      data, _status_code, _headers = update_posts_with_http_info(company_id, post_id, posts_update, opts)
      data
    end

    # Update an existing post by ID.      Note: last_edited_at is automatically updated.
    # @param company_id [String] Unique identifier for the Company
    # @param post_id [String] Unique identifier for the Post
    # @param posts_update [PostsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdatePosts200Response, Integer, Hash)>] UpdatePosts200Response data, response status code and response headers
    def update_posts_with_http_info(company_id, post_id, posts_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostsApi.update_posts ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostsApi.update_posts"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.update_posts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostsApi.update_posts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostsApi.update_posts, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'post_id' is set
      if @api_client.config.client_side_validation && post_id.nil?
        fail ArgumentError, "Missing the required parameter 'post_id' when calling PostsApi.update_posts"
      end
      if @api_client.config.client_side_validation && post_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.update_posts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && post_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "post_id" when calling PostsApi.update_posts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && post_id !~ pattern
        fail ArgumentError, "invalid value for 'post_id' when calling PostsApi.update_posts, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'posts_update' is set
      if @api_client.config.client_side_validation && posts_update.nil?
        fail ArgumentError, "Missing the required parameter 'posts_update' when calling PostsApi.update_posts"
      end
      # resource path
      local_var_path = '/companies/{company_id}/posts/{post_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'post_id' + '}', CGI.escape(post_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(posts_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdatePosts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostsApi.update_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostsApi#update_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
