=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.25.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module SparteraApiSdk
  class PostgenIntegrationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # POST /companies/{company_id}/postgen_integrations
    # @param company_id [String] Unique identifier for the Company
    # @param postgen_integrations_input [PostgenIntegrationsInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [CreatePostgenIntegrations200Response]
    def create_postgen_integrations(company_id, postgen_integrations_input, opts = {})
      data, _status_code, _headers = create_postgen_integrations_with_http_info(company_id, postgen_integrations_input, opts)
      data
    end

    # POST /companies/{company_id}/postgen_integrations
    # @param company_id [String] Unique identifier for the Company
    # @param postgen_integrations_input [PostgenIntegrationsInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(CreatePostgenIntegrations200Response, Integer, Hash)>] CreatePostgenIntegrations200Response data, response status code and response headers
    def create_postgen_integrations_with_http_info(company_id, postgen_integrations_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostgenIntegrationsApi.create_postgen_integrations ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostgenIntegrationsApi.create_postgen_integrations"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostgenIntegrationsApi.create_postgen_integrations, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostgenIntegrationsApi.create_postgen_integrations, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostgenIntegrationsApi.create_postgen_integrations, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'postgen_integrations_input' is set
      if @api_client.config.client_side_validation && postgen_integrations_input.nil?
        fail ArgumentError, "Missing the required parameter 'postgen_integrations_input' when calling PostgenIntegrationsApi.create_postgen_integrations"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PostgenIntegrationsApi.create_postgen_integrations, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostgenIntegrationsApi.create_postgen_integrations, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostgenIntegrationsApi.create_postgen_integrations, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling PostgenIntegrationsApi.create_postgen_integrations, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling PostgenIntegrationsApi.create_postgen_integrations, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/postgen_integrations'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(postgen_integrations_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePostgenIntegrations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostgenIntegrationsApi.create_postgen_integrations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostgenIntegrationsApi#create_postgen_integrations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /companies/{company_id}/postgen_integrations/test
    # @param company_id [String] Unique identifier for the Company
    # @param postgen_integrations_input [PostgenIntegrationsInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePostgenIntegrations200Response]
    def create_postgen_integrations_test(company_id, postgen_integrations_input, opts = {})
      data, _status_code, _headers = create_postgen_integrations_test_with_http_info(company_id, postgen_integrations_input, opts)
      data
    end

    # POST /companies/{company_id}/postgen_integrations/test
    # @param company_id [String] Unique identifier for the Company
    # @param postgen_integrations_input [PostgenIntegrationsInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePostgenIntegrations200Response, Integer, Hash)>] CreatePostgenIntegrations200Response data, response status code and response headers
    def create_postgen_integrations_test_with_http_info(company_id, postgen_integrations_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostgenIntegrationsApi.create_postgen_integrations_test ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostgenIntegrationsApi.create_postgen_integrations_test"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostgenIntegrationsApi.create_postgen_integrations_test, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostgenIntegrationsApi.create_postgen_integrations_test, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostgenIntegrationsApi.create_postgen_integrations_test, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'postgen_integrations_input' is set
      if @api_client.config.client_side_validation && postgen_integrations_input.nil?
        fail ArgumentError, "Missing the required parameter 'postgen_integrations_input' when calling PostgenIntegrationsApi.create_postgen_integrations_test"
      end
      # resource path
      local_var_path = '/companies/{company_id}/postgen_integrations/test'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(postgen_integrations_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePostgenIntegrations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostgenIntegrationsApi.create_postgen_integrations_test",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostgenIntegrationsApi#create_postgen_integrations_test\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete single integration by ID.     Also deletes credentials from GCP Secret Manager.
    # @param company_id [String] Unique identifier for the Company
    # @param integration_id [String] Unique identifier for the Integration
    # @param [Hash] opts the optional parameters
    # @return [DeletePostgenIntegrations200Response]
    def delete_postgen_integrations(company_id, integration_id, opts = {})
      data, _status_code, _headers = delete_postgen_integrations_with_http_info(company_id, integration_id, opts)
      data
    end

    # Delete single integration by ID.     Also deletes credentials from GCP Secret Manager.
    # @param company_id [String] Unique identifier for the Company
    # @param integration_id [String] Unique identifier for the Integration
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePostgenIntegrations200Response, Integer, Hash)>] DeletePostgenIntegrations200Response data, response status code and response headers
    def delete_postgen_integrations_with_http_info(company_id, integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostgenIntegrationsApi.delete_postgen_integrations ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostgenIntegrationsApi.delete_postgen_integrations"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostgenIntegrationsApi.delete_postgen_integrations, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostgenIntegrationsApi.delete_postgen_integrations, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostgenIntegrationsApi.delete_postgen_integrations, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'integration_id' is set
      if @api_client.config.client_side_validation && integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_id' when calling PostgenIntegrationsApi.delete_postgen_integrations"
      end
      if @api_client.config.client_side_validation && integration_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "integration_id" when calling PostgenIntegrationsApi.delete_postgen_integrations, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && integration_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "integration_id" when calling PostgenIntegrationsApi.delete_postgen_integrations, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && integration_id !~ pattern
        fail ArgumentError, "invalid value for 'integration_id' when calling PostgenIntegrationsApi.delete_postgen_integrations, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/postgen_integrations/{integration_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'integration_id' + '}', CGI.escape(integration_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletePostgenIntegrations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostgenIntegrationsApi.delete_postgen_integrations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostgenIntegrationsApi#delete_postgen_integrations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single integration by ID.
    # @param company_id [String] Unique identifier for the Company
    # @param integration_id [String] Unique identifier for the Integration
    # @param [Hash] opts the optional parameters
    # @return [GetPostgenIntegrationsById200Response]
    def get_postgen_integrations_by_id(company_id, integration_id, opts = {})
      data, _status_code, _headers = get_postgen_integrations_by_id_with_http_info(company_id, integration_id, opts)
      data
    end

    # Get single integration by ID.
    # @param company_id [String] Unique identifier for the Company
    # @param integration_id [String] Unique identifier for the Integration
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPostgenIntegrationsById200Response, Integer, Hash)>] GetPostgenIntegrationsById200Response data, response status code and response headers
    def get_postgen_integrations_by_id_with_http_info(company_id, integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostgenIntegrationsApi.get_postgen_integrations_by_id ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostgenIntegrationsApi.get_postgen_integrations_by_id"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostgenIntegrationsApi.get_postgen_integrations_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostgenIntegrationsApi.get_postgen_integrations_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostgenIntegrationsApi.get_postgen_integrations_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'integration_id' is set
      if @api_client.config.client_side_validation && integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_id' when calling PostgenIntegrationsApi.get_postgen_integrations_by_id"
      end
      if @api_client.config.client_side_validation && integration_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "integration_id" when calling PostgenIntegrationsApi.get_postgen_integrations_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && integration_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "integration_id" when calling PostgenIntegrationsApi.get_postgen_integrations_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && integration_id !~ pattern
        fail ArgumentError, "invalid value for 'integration_id' when calling PostgenIntegrationsApi.get_postgen_integrations_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/postgen_integrations/{integration_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'integration_id' + '}', CGI.escape(integration_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPostgenIntegrationsById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostgenIntegrationsApi.get_postgen_integrations_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostgenIntegrationsApi#get_postgen_integrations_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all postgen integrations for the company.     All company users can view integrations.
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [ListPostgenIntegrations200Response]
    def list_postgen_integrations(company_id, opts = {})
      data, _status_code, _headers = list_postgen_integrations_with_http_info(company_id, opts)
      data
    end

    # Get a list of all postgen integrations for the company.     All company users can view integrations.
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(ListPostgenIntegrations200Response, Integer, Hash)>] ListPostgenIntegrations200Response data, response status code and response headers
    def list_postgen_integrations_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostgenIntegrationsApi.list_postgen_integrations ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostgenIntegrationsApi.list_postgen_integrations"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostgenIntegrationsApi.list_postgen_integrations, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostgenIntegrationsApi.list_postgen_integrations, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostgenIntegrationsApi.list_postgen_integrations, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling PostgenIntegrationsApi.list_postgen_integrations, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostgenIntegrationsApi.list_postgen_integrations, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PostgenIntegrationsApi.list_postgen_integrations, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling PostgenIntegrationsApi.list_postgen_integrations, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling PostgenIntegrationsApi.list_postgen_integrations, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/postgen_integrations'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListPostgenIntegrations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostgenIntegrationsApi.list_postgen_integrations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostgenIntegrationsApi#list_postgen_integrations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing integration by ID.      Can update credentials, is_active status, etc.
    # @param company_id [String] Unique identifier for the Company
    # @param integration_id [String] Unique identifier for the Integration
    # @param postgen_integrations_update [PostgenIntegrationsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UpdatePostgenIntegrations200Response]
    def update_postgen_integrations(company_id, integration_id, postgen_integrations_update, opts = {})
      data, _status_code, _headers = update_postgen_integrations_with_http_info(company_id, integration_id, postgen_integrations_update, opts)
      data
    end

    # Update an existing integration by ID.      Can update credentials, is_active status, etc.
    # @param company_id [String] Unique identifier for the Company
    # @param integration_id [String] Unique identifier for the Integration
    # @param postgen_integrations_update [PostgenIntegrationsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdatePostgenIntegrations200Response, Integer, Hash)>] UpdatePostgenIntegrations200Response data, response status code and response headers
    def update_postgen_integrations_with_http_info(company_id, integration_id, postgen_integrations_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostgenIntegrationsApi.update_postgen_integrations ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling PostgenIntegrationsApi.update_postgen_integrations"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling PostgenIntegrationsApi.update_postgen_integrations, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling PostgenIntegrationsApi.update_postgen_integrations, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling PostgenIntegrationsApi.update_postgen_integrations, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'integration_id' is set
      if @api_client.config.client_side_validation && integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_id' when calling PostgenIntegrationsApi.update_postgen_integrations"
      end
      if @api_client.config.client_side_validation && integration_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "integration_id" when calling PostgenIntegrationsApi.update_postgen_integrations, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && integration_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "integration_id" when calling PostgenIntegrationsApi.update_postgen_integrations, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && integration_id !~ pattern
        fail ArgumentError, "invalid value for 'integration_id' when calling PostgenIntegrationsApi.update_postgen_integrations, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'postgen_integrations_update' is set
      if @api_client.config.client_side_validation && postgen_integrations_update.nil?
        fail ArgumentError, "Missing the required parameter 'postgen_integrations_update' when calling PostgenIntegrationsApi.update_postgen_integrations"
      end
      # resource path
      local_var_path = '/companies/{company_id}/postgen_integrations/{integration_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'integration_id' + '}', CGI.escape(integration_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(postgen_integrations_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdatePostgenIntegrations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"PostgenIntegrationsApi.update_postgen_integrations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostgenIntegrationsApi#update_postgen_integrations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
