=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.25.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module SparteraApiSdk
  class UsersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new user
    # @param company_id [String] Unique identifier for the Company
    # @param users_input [UsersInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [CreateUsers200Response]
    def create_users(company_id, users_input, opts = {})
      data, _status_code, _headers = create_users_with_http_info(company_id, users_input, opts)
      data
    end

    # Create a new user
    # @param company_id [String] Unique identifier for the Company
    # @param users_input [UsersInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(CreateUsers200Response, Integer, Hash)>] CreateUsers200Response data, response status code and response headers
    def create_users_with_http_info(company_id, users_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.create_users ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling UsersApi.create_users"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.create_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.create_users, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling UsersApi.create_users, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'users_input' is set
      if @api_client.config.client_side_validation && users_input.nil?
        fail ArgumentError, "Missing the required parameter 'users_input' when calling UsersApi.create_users"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling UsersApi.create_users, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UsersApi.create_users, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UsersApi.create_users, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling UsersApi.create_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling UsersApi.create_users, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/users'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateUsers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.create_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#create_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /companies/{company_id}/users/google-oauth
    # @param company_id [String] Unique identifier for the Company
    # @param users_input [UsersInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [CreateUsers200Response]
    def create_users_google_oauth(company_id, users_input, opts = {})
      data, _status_code, _headers = create_users_google_oauth_with_http_info(company_id, users_input, opts)
      data
    end

    # POST /companies/{company_id}/users/google-oauth
    # @param company_id [String] Unique identifier for the Company
    # @param users_input [UsersInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(CreateUsers200Response, Integer, Hash)>] CreateUsers200Response data, response status code and response headers
    def create_users_google_oauth_with_http_info(company_id, users_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.create_users_google_oauth ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling UsersApi.create_users_google_oauth"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.create_users_google_oauth, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.create_users_google_oauth, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling UsersApi.create_users_google_oauth, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'users_input' is set
      if @api_client.config.client_side_validation && users_input.nil?
        fail ArgumentError, "Missing the required parameter 'users_input' when calling UsersApi.create_users_google_oauth"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling UsersApi.create_users_google_oauth, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UsersApi.create_users_google_oauth, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UsersApi.create_users_google_oauth, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling UsersApi.create_users_google_oauth, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling UsersApi.create_users_google_oauth, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/google-oauth'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateUsers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.create_users_google_oauth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#create_users_google_oauth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Logout current user by revoking their sessions
    # @param company_id [String] Unique identifier for the Company
    # @param users_input [UsersInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [CreateUsers200Response]
    def create_users_logout(company_id, users_input, opts = {})
      data, _status_code, _headers = create_users_logout_with_http_info(company_id, users_input, opts)
      data
    end

    # Logout current user by revoking their sessions
    # @param company_id [String] Unique identifier for the Company
    # @param users_input [UsersInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(CreateUsers200Response, Integer, Hash)>] CreateUsers200Response data, response status code and response headers
    def create_users_logout_with_http_info(company_id, users_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.create_users_logout ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling UsersApi.create_users_logout"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.create_users_logout, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.create_users_logout, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling UsersApi.create_users_logout, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'users_input' is set
      if @api_client.config.client_side_validation && users_input.nil?
        fail ArgumentError, "Missing the required parameter 'users_input' when calling UsersApi.create_users_logout"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling UsersApi.create_users_logout, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UsersApi.create_users_logout, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UsersApi.create_users_logout, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling UsersApi.create_users_logout, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling UsersApi.create_users_logout, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/logout'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateUsers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.create_users_logout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#create_users_logout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete single user by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param [Hash] opts the optional parameters
    # @return [DeleteUsers200Response]
    def delete_users(company_id, user_id, opts = {})
      data, _status_code, _headers = delete_users_with_http_info(company_id, user_id, opts)
      data
    end

    # Delete single user by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteUsers200Response, Integer, Hash)>] DeleteUsers200Response data, response status code and response headers
    def delete_users_with_http_info(company_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.delete_users ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling UsersApi.delete_users"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.delete_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.delete_users, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling UsersApi.delete_users, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.delete_users"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling UsersApi.delete_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling UsersApi.delete_users, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling UsersApi.delete_users, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteUsers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.delete_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#delete_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single user by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param [Hash] opts the optional parameters
    # @return [GetUsersById200Response]
    def get_users_by_id(company_id, user_id, opts = {})
      data, _status_code, _headers = get_users_by_id_with_http_info(company_id, user_id, opts)
      data
    end

    # Get single user by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUsersById200Response, Integer, Hash)>] GetUsersById200Response data, response status code and response headers
    def get_users_by_id_with_http_info(company_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.get_users_by_id ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling UsersApi.get_users_by_id"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.get_users_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.get_users_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling UsersApi.get_users_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.get_users_by_id"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling UsersApi.get_users_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling UsersApi.get_users_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling UsersApi.get_users_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUsersById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.get_users_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#get_users_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all users in a company
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [ListUsers200Response]
    def list_users(company_id, opts = {})
      data, _status_code, _headers = list_users_with_http_info(company_id, opts)
      data
    end

    # Get a list of all users in a company
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(ListUsers200Response, Integer, Hash)>] ListUsers200Response data, response status code and response headers
    def list_users_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.list_users ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling UsersApi.list_users"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.list_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.list_users, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling UsersApi.list_users, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling UsersApi.list_users, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UsersApi.list_users, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UsersApi.list_users, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling UsersApi.list_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling UsersApi.list_users, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/users'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListUsers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.list_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#list_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current authenticated user's profile.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [ListUsers200Response]
    def list_users_me(opts = {})
      data, _status_code, _headers = list_users_me_with_http_info(opts)
      data
    end

    # Get current authenticated user&#39;s profile.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(ListUsers200Response, Integer, Hash)>] ListUsers200Response data, response status code and response headers
    def list_users_me_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.list_users_me ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling UsersApi.list_users_me, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UsersApi.list_users_me, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UsersApi.list_users_me, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling UsersApi.list_users_me, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling UsersApi.list_users_me, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/me'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListUsers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.list_users_me",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#list_users_me\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing user by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param users_update [UsersUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateUsers200Response]
    def update_users(company_id, user_id, users_update, opts = {})
      data, _status_code, _headers = update_users_with_http_info(company_id, user_id, users_update, opts)
      data
    end

    # Update an existing user by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param users_update [UsersUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateUsers200Response, Integer, Hash)>] UpdateUsers200Response data, response status code and response headers
    def update_users_with_http_info(company_id, user_id, users_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UsersApi.update_users ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling UsersApi.update_users"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.update_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling UsersApi.update_users, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling UsersApi.update_users, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UsersApi.update_users"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling UsersApi.update_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling UsersApi.update_users, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling UsersApi.update_users, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'users_update' is set
      if @api_client.config.client_side_validation && users_update.nil?
        fail ArgumentError, "Missing the required parameter 'users_update' when calling UsersApi.update_users"
      end
      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateUsers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"UsersApi.update_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UsersApi#update_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
