=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.25.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module OpenapiClient
  class AlertsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # POST /companies/{company_id}/users/{user_id}/alerts
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param alerts_input [AlertsInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAlerts200Response]
    def create_alerts(company_id, user_id, alerts_input, opts = {})
      data, _status_code, _headers = create_alerts_with_http_info(company_id, user_id, alerts_input, opts)
      data
    end

    # POST /companies/{company_id}/users/{user_id}/alerts
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param alerts_input [AlertsInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAlerts200Response, Integer, Hash)>] CreateAlerts200Response data, response status code and response headers
    def create_alerts_with_http_info(company_id, user_id, alerts_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsApi.create_alerts ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AlertsApi.create_alerts"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.create_alerts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.create_alerts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AlertsApi.create_alerts, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AlertsApi.create_alerts"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.create_alerts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.create_alerts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling AlertsApi.create_alerts, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'alerts_input' is set
      if @api_client.config.client_side_validation && alerts_input.nil?
        fail ArgumentError, "Missing the required parameter 'alerts_input' when calling AlertsApi.create_alerts"
      end
      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/alerts'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alerts_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAlerts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AlertsApi.create_alerts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsApi#create_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete single alert by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param alert_id [String] Unique identifier for the Alert
    # @param [Hash] opts the optional parameters
    # @return [DeleteAlerts200Response]
    def delete_alerts(company_id, user_id, alert_id, opts = {})
      data, _status_code, _headers = delete_alerts_with_http_info(company_id, user_id, alert_id, opts)
      data
    end

    # Delete single alert by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param alert_id [String] Unique identifier for the Alert
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteAlerts200Response, Integer, Hash)>] DeleteAlerts200Response data, response status code and response headers
    def delete_alerts_with_http_info(company_id, user_id, alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsApi.delete_alerts ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AlertsApi.delete_alerts"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.delete_alerts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.delete_alerts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AlertsApi.delete_alerts, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AlertsApi.delete_alerts"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.delete_alerts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.delete_alerts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling AlertsApi.delete_alerts, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'alert_id' is set
      if @api_client.config.client_side_validation && alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_id' when calling AlertsApi.delete_alerts"
      end
      if @api_client.config.client_side_validation && alert_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "alert_id" when calling AlertsApi.delete_alerts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && alert_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "alert_id" when calling AlertsApi.delete_alerts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && alert_id !~ pattern
        fail ArgumentError, "invalid value for 'alert_id' when calling AlertsApi.delete_alerts, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/alerts/{alert_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s)).sub('{' + 'alert_id' + '}', CGI.escape(alert_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAlerts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AlertsApi.delete_alerts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsApi#delete_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all alerts for a specific user
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param [Hash] opts the optional parameters
    # @return [GetAlertsById200Response]
    def get_alerts_by_id(company_id, user_id, opts = {})
      data, _status_code, _headers = get_alerts_by_id_with_http_info(company_id, user_id, opts)
      data
    end

    # Get a list of all alerts for a specific user
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAlertsById200Response, Integer, Hash)>] GetAlertsById200Response data, response status code and response headers
    def get_alerts_by_id_with_http_info(company_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsApi.get_alerts_by_id ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AlertsApi.get_alerts_by_id"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.get_alerts_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.get_alerts_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AlertsApi.get_alerts_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AlertsApi.get_alerts_by_id"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.get_alerts_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.get_alerts_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling AlertsApi.get_alerts_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/alerts'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAlertsById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AlertsApi.get_alerts_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsApi#get_alerts_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all alerts for a specific asset
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [GetAlertsById200Response]
    def get_alerts_by_id_asset_all(company_id, user_id, asset_id, opts = {})
      data, _status_code, _headers = get_alerts_by_id_asset_all_with_http_info(company_id, user_id, asset_id, opts)
      data
    end

    # Get all alerts for a specific asset
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAlertsById200Response, Integer, Hash)>] GetAlertsById200Response data, response status code and response headers
    def get_alerts_by_id_asset_all_with_http_info(company_id, user_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsApi.get_alerts_by_id_asset_all ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AlertsApi.get_alerts_by_id_asset_all"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.get_alerts_by_id_asset_all, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.get_alerts_by_id_asset_all, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AlertsApi.get_alerts_by_id_asset_all, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AlertsApi.get_alerts_by_id_asset_all"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.get_alerts_by_id_asset_all, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.get_alerts_by_id_asset_all, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling AlertsApi.get_alerts_by_id_asset_all, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AlertsApi.get_alerts_by_id_asset_all"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AlertsApi.get_alerts_by_id_asset_all, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AlertsApi.get_alerts_by_id_asset_all, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AlertsApi.get_alerts_by_id_asset_all, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/alerts/asset/{asset_id}/all'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAlertsById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AlertsApi.get_alerts_by_id_asset_all",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsApi#get_alerts_by_id_asset_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single alert by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param alert_id [String] Unique identifier for the Alert
    # @param [Hash] opts the optional parameters
    # @return [GetAlertsById200Response]
    def get_alerts_by_id_users(company_id, user_id, alert_id, opts = {})
      data, _status_code, _headers = get_alerts_by_id_users_with_http_info(company_id, user_id, alert_id, opts)
      data
    end

    # Get single alert by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param alert_id [String] Unique identifier for the Alert
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAlertsById200Response, Integer, Hash)>] GetAlertsById200Response data, response status code and response headers
    def get_alerts_by_id_users_with_http_info(company_id, user_id, alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsApi.get_alerts_by_id_users ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AlertsApi.get_alerts_by_id_users"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.get_alerts_by_id_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.get_alerts_by_id_users, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AlertsApi.get_alerts_by_id_users, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AlertsApi.get_alerts_by_id_users"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.get_alerts_by_id_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.get_alerts_by_id_users, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling AlertsApi.get_alerts_by_id_users, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'alert_id' is set
      if @api_client.config.client_side_validation && alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_id' when calling AlertsApi.get_alerts_by_id_users"
      end
      if @api_client.config.client_side_validation && alert_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "alert_id" when calling AlertsApi.get_alerts_by_id_users, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && alert_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "alert_id" when calling AlertsApi.get_alerts_by_id_users, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && alert_id !~ pattern
        fail ArgumentError, "invalid value for 'alert_id' when calling AlertsApi.get_alerts_by_id_users, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/alerts/{alert_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s)).sub('{' + 'alert_id' + '}', CGI.escape(alert_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAlertsById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AlertsApi.get_alerts_by_id_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsApi#get_alerts_by_id_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all alerts for a specific asset (by user)
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [GetAlertsById200Response]
    def get_alerts_by_id_users_asset(company_id, user_id, asset_id, opts = {})
      data, _status_code, _headers = get_alerts_by_id_users_asset_with_http_info(company_id, user_id, asset_id, opts)
      data
    end

    # Get all alerts for a specific asset (by user)
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAlertsById200Response, Integer, Hash)>] GetAlertsById200Response data, response status code and response headers
    def get_alerts_by_id_users_asset_with_http_info(company_id, user_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsApi.get_alerts_by_id_users_asset ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AlertsApi.get_alerts_by_id_users_asset"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.get_alerts_by_id_users_asset, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.get_alerts_by_id_users_asset, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AlertsApi.get_alerts_by_id_users_asset, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AlertsApi.get_alerts_by_id_users_asset"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.get_alerts_by_id_users_asset, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.get_alerts_by_id_users_asset, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling AlertsApi.get_alerts_by_id_users_asset, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AlertsApi.get_alerts_by_id_users_asset"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AlertsApi.get_alerts_by_id_users_asset, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AlertsApi.get_alerts_by_id_users_asset, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AlertsApi.get_alerts_by_id_users_asset, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/alerts/asset/{asset_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAlertsById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AlertsApi.get_alerts_by_id_users_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsApi#get_alerts_by_id_users_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing alert by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param alert_id [String] Unique identifier for the Alert
    # @param alerts_update [AlertsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateAlerts200Response]
    def update_alerts(company_id, user_id, alert_id, alerts_update, opts = {})
      data, _status_code, _headers = update_alerts_with_http_info(company_id, user_id, alert_id, alerts_update, opts)
      data
    end

    # Update an existing alert by ID
    # @param company_id [String] Unique identifier for the Company
    # @param user_id [String] Unique identifier for the User
    # @param alert_id [String] Unique identifier for the Alert
    # @param alerts_update [AlertsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateAlerts200Response, Integer, Hash)>] UpdateAlerts200Response data, response status code and response headers
    def update_alerts_with_http_info(company_id, user_id, alert_id, alerts_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertsApi.update_alerts ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AlertsApi.update_alerts"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.update_alerts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AlertsApi.update_alerts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AlertsApi.update_alerts, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling AlertsApi.update_alerts"
      end
      if @api_client.config.client_side_validation && user_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.update_alerts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && user_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "user_id" when calling AlertsApi.update_alerts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && user_id !~ pattern
        fail ArgumentError, "invalid value for 'user_id' when calling AlertsApi.update_alerts, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'alert_id' is set
      if @api_client.config.client_side_validation && alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_id' when calling AlertsApi.update_alerts"
      end
      if @api_client.config.client_side_validation && alert_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "alert_id" when calling AlertsApi.update_alerts, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && alert_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "alert_id" when calling AlertsApi.update_alerts, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && alert_id !~ pattern
        fail ArgumentError, "invalid value for 'alert_id' when calling AlertsApi.update_alerts, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'alerts_update' is set
      if @api_client.config.client_side_validation && alerts_update.nil?
        fail ArgumentError, "Missing the required parameter 'alerts_update' when calling AlertsApi.update_alerts"
      end
      # resource path
      local_var_path = '/companies/{company_id}/users/{user_id}/alerts/{alert_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'user_id' + '}', CGI.escape(user_id.to_s)).sub('{' + 'alert_id' + '}', CGI.escape(alert_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(alerts_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateAlerts200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AlertsApi.update_alerts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertsApi#update_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
