=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.25.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module OpenapiClient
  class APIKeysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create single API key.     Returns the actual sk_ key (only time it's exposed) and api_key_id for future operations.
    # @param company_id [String] Unique identifier for the Company
    # @param api_keys_input [ApiKeysInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [CreateApiKeys200Response]
    def create_api_keys(company_id, api_keys_input, opts = {})
      data, _status_code, _headers = create_api_keys_with_http_info(company_id, api_keys_input, opts)
      data
    end

    # Create single API key.     Returns the actual sk_ key (only time it&#39;s exposed) and api_key_id for future operations.
    # @param company_id [String] Unique identifier for the Company
    # @param api_keys_input [ApiKeysInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(CreateApiKeys200Response, Integer, Hash)>] CreateApiKeys200Response data, response status code and response headers
    def create_api_keys_with_http_info(company_id, api_keys_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.create_api_keys ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.create_api_keys"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.create_api_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.create_api_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling APIKeysApi.create_api_keys, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_keys_input' is set
      if @api_client.config.client_side_validation && api_keys_input.nil?
        fail ArgumentError, "Missing the required parameter 'api_keys_input' when calling APIKeysApi.create_api_keys"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling APIKeysApi.create_api_keys, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling APIKeysApi.create_api_keys, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling APIKeysApi.create_api_keys, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling APIKeysApi.create_api_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling APIKeysApi.create_api_keys, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/api-keys'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_keys_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateApiKeys200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.create_api_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#create_api_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Explicitly revoke an API key with reason tracking.     This is different from delete as it includes revocation metadata.
    # @param company_id [String] Unique identifier for the Company
    # @param api_key_id [String] Unique identifier for the Api Key
    # @param api_keys_input [ApiKeysInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateApiKeys200Response]
    def create_api_keys_api_keys_revoke(company_id, api_key_id, api_keys_input, opts = {})
      data, _status_code, _headers = create_api_keys_api_keys_revoke_with_http_info(company_id, api_key_id, api_keys_input, opts)
      data
    end

    # Explicitly revoke an API key with reason tracking.     This is different from delete as it includes revocation metadata.
    # @param company_id [String] Unique identifier for the Company
    # @param api_key_id [String] Unique identifier for the Api Key
    # @param api_keys_input [ApiKeysInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateApiKeys200Response, Integer, Hash)>] CreateApiKeys200Response data, response status code and response headers
    def create_api_keys_api_keys_revoke_with_http_info(company_id, api_key_id, api_keys_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.create_api_keys_api_keys_revoke ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.create_api_keys_api_keys_revoke"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.create_api_keys_api_keys_revoke, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.create_api_keys_api_keys_revoke, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling APIKeysApi.create_api_keys_api_keys_revoke, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling APIKeysApi.create_api_keys_api_keys_revoke"
      end
      if @api_client.config.client_side_validation && api_key_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "api_key_id" when calling APIKeysApi.create_api_keys_api_keys_revoke, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && api_key_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_key_id" when calling APIKeysApi.create_api_keys_api_keys_revoke, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && api_key_id !~ pattern
        fail ArgumentError, "invalid value for 'api_key_id' when calling APIKeysApi.create_api_keys_api_keys_revoke, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_keys_input' is set
      if @api_client.config.client_side_validation && api_keys_input.nil?
        fail ArgumentError, "Missing the required parameter 'api_keys_input' when calling APIKeysApi.create_api_keys_api_keys_revoke"
      end
      # resource path
      local_var_path = '/companies/{company_id}/api-keys/{api_key_id}/revoke'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_keys_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateApiKeys200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.create_api_keys_api_keys_revoke",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#create_api_keys_api_keys_revoke\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete (deactivate) single API key by api_key_id.     Uses the api_key_id returned during creation for clean identification.     Fixed to use correct primary key lookup.
    # @param company_id [String] Unique identifier for the Company
    # @param api_key_id [String] Unique identifier for the Api Key
    # @param [Hash] opts the optional parameters
    # @return [DeleteApiKeys200Response]
    def delete_api_keys(company_id, api_key_id, opts = {})
      data, _status_code, _headers = delete_api_keys_with_http_info(company_id, api_key_id, opts)
      data
    end

    # Delete (deactivate) single API key by api_key_id.     Uses the api_key_id returned during creation for clean identification.     Fixed to use correct primary key lookup.
    # @param company_id [String] Unique identifier for the Company
    # @param api_key_id [String] Unique identifier for the Api Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteApiKeys200Response, Integer, Hash)>] DeleteApiKeys200Response data, response status code and response headers
    def delete_api_keys_with_http_info(company_id, api_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.delete_api_keys ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.delete_api_keys"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.delete_api_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.delete_api_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling APIKeysApi.delete_api_keys, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling APIKeysApi.delete_api_keys"
      end
      if @api_client.config.client_side_validation && api_key_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "api_key_id" when calling APIKeysApi.delete_api_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && api_key_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_key_id" when calling APIKeysApi.delete_api_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && api_key_id !~ pattern
        fail ArgumentError, "invalid value for 'api_key_id' when calling APIKeysApi.delete_api_keys, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/api-keys/{api_key_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteApiKeys200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.delete_api_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#delete_api_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single API key by ID.     Returns masked API key for security (sk_****1234).
    # @param company_id [String] Unique identifier for the Company
    # @param api_key_id [String] Unique identifier for the Api Key
    # @param [Hash] opts the optional parameters
    # @return [GetApiKeysById200Response]
    def get_api_keys_by_id(company_id, api_key_id, opts = {})
      data, _status_code, _headers = get_api_keys_by_id_with_http_info(company_id, api_key_id, opts)
      data
    end

    # Get single API key by ID.     Returns masked API key for security (sk_****1234).
    # @param company_id [String] Unique identifier for the Company
    # @param api_key_id [String] Unique identifier for the Api Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetApiKeysById200Response, Integer, Hash)>] GetApiKeysById200Response data, response status code and response headers
    def get_api_keys_by_id_with_http_info(company_id, api_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.get_api_keys_by_id ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.get_api_keys_by_id"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.get_api_keys_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.get_api_keys_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling APIKeysApi.get_api_keys_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling APIKeysApi.get_api_keys_by_id"
      end
      if @api_client.config.client_side_validation && api_key_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "api_key_id" when calling APIKeysApi.get_api_keys_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && api_key_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_key_id" when calling APIKeysApi.get_api_keys_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && api_key_id !~ pattern
        fail ArgumentError, "invalid value for 'api_key_id' when calling APIKeysApi.get_api_keys_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/api-keys/{api_key_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetApiKeysById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.get_api_keys_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#get_api_keys_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get usage statistics for a specific API key.     Returns usage count, last used date, failed attempts, etc.
    # @param company_id [String] Unique identifier for the Company
    # @param api_key_id [String] Unique identifier for the Api Key
    # @param [Hash] opts the optional parameters
    # @return [GetApiKeysById200Response]
    def get_api_keys_by_id_api_keys_stats(company_id, api_key_id, opts = {})
      data, _status_code, _headers = get_api_keys_by_id_api_keys_stats_with_http_info(company_id, api_key_id, opts)
      data
    end

    # Get usage statistics for a specific API key.     Returns usage count, last used date, failed attempts, etc.
    # @param company_id [String] Unique identifier for the Company
    # @param api_key_id [String] Unique identifier for the Api Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetApiKeysById200Response, Integer, Hash)>] GetApiKeysById200Response data, response status code and response headers
    def get_api_keys_by_id_api_keys_stats_with_http_info(company_id, api_key_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.get_api_keys_by_id_api_keys_stats ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.get_api_keys_by_id_api_keys_stats"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.get_api_keys_by_id_api_keys_stats, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.get_api_keys_by_id_api_keys_stats, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling APIKeysApi.get_api_keys_by_id_api_keys_stats, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling APIKeysApi.get_api_keys_by_id_api_keys_stats"
      end
      if @api_client.config.client_side_validation && api_key_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "api_key_id" when calling APIKeysApi.get_api_keys_by_id_api_keys_stats, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && api_key_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_key_id" when calling APIKeysApi.get_api_keys_by_id_api_keys_stats, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && api_key_id !~ pattern
        fail ArgumentError, "invalid value for 'api_key_id' when calling APIKeysApi.get_api_keys_by_id_api_keys_stats, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/api-keys/{api_key_id}/stats'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetApiKeysById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.get_api_keys_by_id_api_keys_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#get_api_keys_by_id_api_keys_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all API keys for a company.     Returns masked API keys for security (sk_****1234).
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [ListApiKeys200Response]
    def list_api_keys(company_id, opts = {})
      data, _status_code, _headers = list_api_keys_with_http_info(company_id, opts)
      data
    end

    # Get all API keys for a company.     Returns masked API keys for security (sk_****1234).
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(ListApiKeys200Response, Integer, Hash)>] ListApiKeys200Response data, response status code and response headers
    def list_api_keys_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.list_api_keys ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.list_api_keys"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.list_api_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.list_api_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling APIKeysApi.list_api_keys, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling APIKeysApi.list_api_keys, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling APIKeysApi.list_api_keys, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling APIKeysApi.list_api_keys, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling APIKeysApi.list_api_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling APIKeysApi.list_api_keys, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/api-keys'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListApiKeys200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.list_api_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#list_api_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing API key by ID.     Can update metadata like name, expiration, rate limits, etc.     Cannot update the actual key value (for security).
    # @param company_id [String] Unique identifier for the Company
    # @param api_key_id [String] Unique identifier for the Api Key
    # @param api_keys_update [ApiKeysUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateApiKeys200Response]
    def update_api_keys(company_id, api_key_id, api_keys_update, opts = {})
      data, _status_code, _headers = update_api_keys_with_http_info(company_id, api_key_id, api_keys_update, opts)
      data
    end

    # Update an existing API key by ID.     Can update metadata like name, expiration, rate limits, etc.     Cannot update the actual key value (for security).
    # @param company_id [String] Unique identifier for the Company
    # @param api_key_id [String] Unique identifier for the Api Key
    # @param api_keys_update [ApiKeysUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateApiKeys200Response, Integer, Hash)>] UpdateApiKeys200Response data, response status code and response headers
    def update_api_keys_with_http_info(company_id, api_key_id, api_keys_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.update_api_keys ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling APIKeysApi.update_api_keys"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.update_api_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling APIKeysApi.update_api_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling APIKeysApi.update_api_keys, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_key_id' is set
      if @api_client.config.client_side_validation && api_key_id.nil?
        fail ArgumentError, "Missing the required parameter 'api_key_id' when calling APIKeysApi.update_api_keys"
      end
      if @api_client.config.client_side_validation && api_key_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "api_key_id" when calling APIKeysApi.update_api_keys, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && api_key_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "api_key_id" when calling APIKeysApi.update_api_keys, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && api_key_id !~ pattern
        fail ArgumentError, "invalid value for 'api_key_id' when calling APIKeysApi.update_api_keys, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'api_keys_update' is set
      if @api_client.config.client_side_validation && api_keys_update.nil?
        fail ArgumentError, "Missing the required parameter 'api_keys_update' when calling APIKeysApi.update_api_keys"
      end
      # resource path
      local_var_path = '/companies/{company_id}/api-keys/{api_key_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'api_key_id' + '}', CGI.escape(api_key_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_keys_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateApiKeys200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"APIKeysApi.update_api_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#update_api_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
