=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.25.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module OpenapiClient
  class AssetPriceHistoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new price history record for an asset
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param asset_price_history_input [AssetPriceHistoryInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAssetPriceHistory200Response]
    def create_asset_price_history(company_id, asset_id, asset_price_history_input, opts = {})
      data, _status_code, _headers = create_asset_price_history_with_http_info(company_id, asset_id, asset_price_history_input, opts)
      data
    end

    # Create a new price history record for an asset
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param asset_price_history_input [AssetPriceHistoryInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAssetPriceHistory200Response, Integer, Hash)>] CreateAssetPriceHistory200Response data, response status code and response headers
    def create_asset_price_history_with_http_info(company_id, asset_id, asset_price_history_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetPriceHistoryApi.create_asset_price_history ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetPriceHistoryApi.create_asset_price_history"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.create_asset_price_history, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.create_asset_price_history, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetPriceHistoryApi.create_asset_price_history, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetPriceHistoryApi.create_asset_price_history"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.create_asset_price_history, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.create_asset_price_history, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetPriceHistoryApi.create_asset_price_history, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_price_history_input' is set
      if @api_client.config.client_side_validation && asset_price_history_input.nil?
        fail ArgumentError, "Missing the required parameter 'asset_price_history_input' when calling AssetPriceHistoryApi.create_asset_price_history"
      end
      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/prices'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_price_history_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAssetPriceHistory200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetPriceHistoryApi.create_asset_price_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetPriceHistoryApi#create_asset_price_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calculate the credit equivalent for a given USD price without saving
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param asset_price_history_input [AssetPriceHistoryInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAssetPriceHistory200Response]
    def create_asset_price_history_prices_calculate_credits(company_id, asset_id, asset_price_history_input, opts = {})
      data, _status_code, _headers = create_asset_price_history_prices_calculate_credits_with_http_info(company_id, asset_id, asset_price_history_input, opts)
      data
    end

    # Calculate the credit equivalent for a given USD price without saving
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param asset_price_history_input [AssetPriceHistoryInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAssetPriceHistory200Response, Integer, Hash)>] CreateAssetPriceHistory200Response data, response status code and response headers
    def create_asset_price_history_prices_calculate_credits_with_http_info(company_id, asset_id, asset_price_history_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetPriceHistoryApi.create_asset_price_history_prices_calculate_credits ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetPriceHistoryApi.create_asset_price_history_prices_calculate_credits"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.create_asset_price_history_prices_calculate_credits, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.create_asset_price_history_prices_calculate_credits, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetPriceHistoryApi.create_asset_price_history_prices_calculate_credits, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetPriceHistoryApi.create_asset_price_history_prices_calculate_credits"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.create_asset_price_history_prices_calculate_credits, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.create_asset_price_history_prices_calculate_credits, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetPriceHistoryApi.create_asset_price_history_prices_calculate_credits, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_price_history_input' is set
      if @api_client.config.client_side_validation && asset_price_history_input.nil?
        fail ArgumentError, "Missing the required parameter 'asset_price_history_input' when calling AssetPriceHistoryApi.create_asset_price_history_prices_calculate_credits"
      end
      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/prices/calculate_credits'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_price_history_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAssetPriceHistory200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetPriceHistoryApi.create_asset_price_history_prices_calculate_credits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetPriceHistoryApi#create_asset_price_history_prices_calculate_credits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # POST /companies/{company_id}/assets/{asset_id}/prices/discount
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param asset_price_history_input [AssetPriceHistoryInput] 
    # @param [Hash] opts the optional parameters
    # @return [CreateAssetPriceHistory200Response]
    def create_asset_price_history_prices_discount(company_id, asset_id, asset_price_history_input, opts = {})
      data, _status_code, _headers = create_asset_price_history_prices_discount_with_http_info(company_id, asset_id, asset_price_history_input, opts)
      data
    end

    # POST /companies/{company_id}/assets/{asset_id}/prices/discount
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param asset_price_history_input [AssetPriceHistoryInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateAssetPriceHistory200Response, Integer, Hash)>] CreateAssetPriceHistory200Response data, response status code and response headers
    def create_asset_price_history_prices_discount_with_http_info(company_id, asset_id, asset_price_history_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetPriceHistoryApi.create_asset_price_history_prices_discount ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetPriceHistoryApi.create_asset_price_history_prices_discount"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.create_asset_price_history_prices_discount, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.create_asset_price_history_prices_discount, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetPriceHistoryApi.create_asset_price_history_prices_discount, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetPriceHistoryApi.create_asset_price_history_prices_discount"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.create_asset_price_history_prices_discount, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.create_asset_price_history_prices_discount, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetPriceHistoryApi.create_asset_price_history_prices_discount, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_price_history_input' is set
      if @api_client.config.client_side_validation && asset_price_history_input.nil?
        fail ArgumentError, "Missing the required parameter 'asset_price_history_input' when calling AssetPriceHistoryApi.create_asset_price_history_prices_discount"
      end
      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/prices/discount'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_price_history_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAssetPriceHistory200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetPriceHistoryApi.create_asset_price_history_prices_discount",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetPriceHistoryApi#create_asset_price_history_prices_discount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete single price history record by ID
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param aph_id [String] Unique identifier for the Aph
    # @param [Hash] opts the optional parameters
    # @return [DeleteAssetPriceHistory200Response]
    def delete_asset_price_history(company_id, asset_id, aph_id, opts = {})
      data, _status_code, _headers = delete_asset_price_history_with_http_info(company_id, asset_id, aph_id, opts)
      data
    end

    # Delete single price history record by ID
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param aph_id [String] Unique identifier for the Aph
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteAssetPriceHistory200Response, Integer, Hash)>] DeleteAssetPriceHistory200Response data, response status code and response headers
    def delete_asset_price_history_with_http_info(company_id, asset_id, aph_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetPriceHistoryApi.delete_asset_price_history ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetPriceHistoryApi.delete_asset_price_history"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.delete_asset_price_history, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.delete_asset_price_history, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetPriceHistoryApi.delete_asset_price_history, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetPriceHistoryApi.delete_asset_price_history"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.delete_asset_price_history, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.delete_asset_price_history, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetPriceHistoryApi.delete_asset_price_history, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'aph_id' is set
      if @api_client.config.client_side_validation && aph_id.nil?
        fail ArgumentError, "Missing the required parameter 'aph_id' when calling AssetPriceHistoryApi.delete_asset_price_history"
      end
      if @api_client.config.client_side_validation && aph_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "aph_id" when calling AssetPriceHistoryApi.delete_asset_price_history, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && aph_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "aph_id" when calling AssetPriceHistoryApi.delete_asset_price_history, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && aph_id !~ pattern
        fail ArgumentError, "invalid value for 'aph_id' when calling AssetPriceHistoryApi.delete_asset_price_history, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/prices/{aph_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'aph_id' + '}', CGI.escape(aph_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAssetPriceHistory200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetPriceHistoryApi.delete_asset_price_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetPriceHistoryApi#delete_asset_price_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all price history records for a specific asset
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [GetAssetPriceHistoryById200Response]
    def get_asset_price_history_by_id(company_id, asset_id, opts = {})
      data, _status_code, _headers = get_asset_price_history_by_id_with_http_info(company_id, asset_id, opts)
      data
    end

    # Get all price history records for a specific asset
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetPriceHistoryById200Response, Integer, Hash)>] GetAssetPriceHistoryById200Response data, response status code and response headers
    def get_asset_price_history_by_id_with_http_info(company_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetPriceHistoryApi.get_asset_price_history_by_id ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/prices'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetPriceHistoryById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetPriceHistoryApi.get_asset_price_history_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetPriceHistoryApi#get_asset_price_history_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single price history record by ID
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param aph_id [String] Unique identifier for the Aph
    # @param [Hash] opts the optional parameters
    # @return [GetAssetPriceHistoryById200Response]
    def get_asset_price_history_by_id_assets_prices(company_id, asset_id, aph_id, opts = {})
      data, _status_code, _headers = get_asset_price_history_by_id_assets_prices_with_http_info(company_id, asset_id, aph_id, opts)
      data
    end

    # Get single price history record by ID
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param aph_id [String] Unique identifier for the Aph
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetPriceHistoryById200Response, Integer, Hash)>] GetAssetPriceHistoryById200Response data, response status code and response headers
    def get_asset_price_history_by_id_assets_prices_with_http_info(company_id, asset_id, aph_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'aph_id' is set
      if @api_client.config.client_side_validation && aph_id.nil?
        fail ArgumentError, "Missing the required parameter 'aph_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices"
      end
      if @api_client.config.client_side_validation && aph_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "aph_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && aph_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "aph_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && aph_id !~ pattern
        fail ArgumentError, "invalid value for 'aph_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/prices/{aph_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'aph_id' + '}', CGI.escape(aph_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetPriceHistoryById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetPriceHistoryApi.get_asset_price_history_by_id_assets_prices",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetPriceHistoryApi#get_asset_price_history_by_id_assets_prices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the currently active price for an asset
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [GetAssetPriceHistoryById200Response]
    def get_asset_price_history_by_id_prices_active(company_id, asset_id, opts = {})
      data, _status_code, _headers = get_asset_price_history_by_id_prices_active_with_http_info(company_id, asset_id, opts)
      data
    end

    # Get the currently active price for an asset
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetPriceHistoryById200Response, Integer, Hash)>] GetAssetPriceHistoryById200Response data, response status code and response headers
    def get_asset_price_history_by_id_prices_active_with_http_info(company_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetPriceHistoryApi.get_asset_price_history_by_id_prices_active ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id_prices_active"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id_prices_active, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id_prices_active, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id_prices_active, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id_prices_active"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id_prices_active, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.get_asset_price_history_by_id_prices_active, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetPriceHistoryApi.get_asset_price_history_by_id_prices_active, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/prices/active'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetPriceHistoryById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetPriceHistoryApi.get_asset_price_history_by_id_prices_active",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetPriceHistoryApi#get_asset_price_history_by_id_prices_active\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing price history record by ID
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param aph_id [String] Unique identifier for the Aph
    # @param asset_price_history_update [AssetPriceHistoryUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateAssetPriceHistory200Response]
    def update_asset_price_history(company_id, asset_id, aph_id, asset_price_history_update, opts = {})
      data, _status_code, _headers = update_asset_price_history_with_http_info(company_id, asset_id, aph_id, asset_price_history_update, opts)
      data
    end

    # Update an existing price history record by ID
    # @param company_id [String] Unique identifier for the Company
    # @param asset_id [String] Unique identifier for the Asset
    # @param aph_id [String] Unique identifier for the Aph
    # @param asset_price_history_update [AssetPriceHistoryUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateAssetPriceHistory200Response, Integer, Hash)>] UpdateAssetPriceHistory200Response data, response status code and response headers
    def update_asset_price_history_with_http_info(company_id, asset_id, aph_id, asset_price_history_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetPriceHistoryApi.update_asset_price_history ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling AssetPriceHistoryApi.update_asset_price_history"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.update_asset_price_history, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling AssetPriceHistoryApi.update_asset_price_history, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling AssetPriceHistoryApi.update_asset_price_history, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetPriceHistoryApi.update_asset_price_history"
      end
      if @api_client.config.client_side_validation && asset_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.update_asset_price_history, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && asset_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "asset_id" when calling AssetPriceHistoryApi.update_asset_price_history, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && asset_id !~ pattern
        fail ArgumentError, "invalid value for 'asset_id' when calling AssetPriceHistoryApi.update_asset_price_history, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'aph_id' is set
      if @api_client.config.client_side_validation && aph_id.nil?
        fail ArgumentError, "Missing the required parameter 'aph_id' when calling AssetPriceHistoryApi.update_asset_price_history"
      end
      if @api_client.config.client_side_validation && aph_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "aph_id" when calling AssetPriceHistoryApi.update_asset_price_history, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && aph_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "aph_id" when calling AssetPriceHistoryApi.update_asset_price_history, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && aph_id !~ pattern
        fail ArgumentError, "invalid value for 'aph_id' when calling AssetPriceHistoryApi.update_asset_price_history, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'asset_price_history_update' is set
      if @api_client.config.client_side_validation && asset_price_history_update.nil?
        fail ArgumentError, "Missing the required parameter 'asset_price_history_update' when calling AssetPriceHistoryApi.update_asset_price_history"
      end
      # resource path
      local_var_path = '/companies/{company_id}/assets/{asset_id}/prices/{aph_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'asset_id' + '}', CGI.escape(asset_id.to_s)).sub('{' + 'aph_id' + '}', CGI.escape(aph_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(asset_price_history_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateAssetPriceHistory200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetPriceHistoryApi.update_asset_price_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetPriceHistoryApi#update_asset_price_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
