=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.25.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module OpenapiClient
  class AssetUsecasesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get single asset use case by ID
    # @param auc_id [String] Unique identifier for the Auc
    # @param [Hash] opts the optional parameters
    # @return [GetAssetUsecasesById200Response]
    def get_asset_usecases_by_id(auc_id, opts = {})
      data, _status_code, _headers = get_asset_usecases_by_id_with_http_info(auc_id, opts)
      data
    end

    # Get single asset use case by ID
    # @param auc_id [String] Unique identifier for the Auc
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAssetUsecasesById200Response, Integer, Hash)>] GetAssetUsecasesById200Response data, response status code and response headers
    def get_asset_usecases_by_id_with_http_info(auc_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetUsecasesApi.get_asset_usecases_by_id ...'
      end
      # verify the required parameter 'auc_id' is set
      if @api_client.config.client_side_validation && auc_id.nil?
        fail ArgumentError, "Missing the required parameter 'auc_id' when calling AssetUsecasesApi.get_asset_usecases_by_id"
      end
      if @api_client.config.client_side_validation && auc_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "auc_id" when calling AssetUsecasesApi.get_asset_usecases_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && auc_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "auc_id" when calling AssetUsecasesApi.get_asset_usecases_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && auc_id !~ pattern
        fail ArgumentError, "invalid value for 'auc_id' when calling AssetUsecasesApi.get_asset_usecases_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/asset_usecases/{auc_id}'.sub('{' + 'auc_id' + '}', CGI.escape(auc_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAssetUsecasesById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetUsecasesApi.get_asset_usecases_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetUsecasesApi#get_asset_usecases_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a list of all asset use cases
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [ListAssetUsecases200Response]
    def list_asset_usecases(opts = {})
      data, _status_code, _headers = list_asset_usecases_with_http_info(opts)
      data
    end

    # Get a list of all asset use cases
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(ListAssetUsecases200Response, Integer, Hash)>] ListAssetUsecases200Response data, response status code and response headers
    def list_asset_usecases_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetUsecasesApi.list_asset_usecases ...'
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AssetUsecasesApi.list_asset_usecases, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AssetUsecasesApi.list_asset_usecases, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AssetUsecasesApi.list_asset_usecases, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling AssetUsecasesApi.list_asset_usecases, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling AssetUsecasesApi.list_asset_usecases, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/asset_usecases'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListAssetUsecases200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"AssetUsecasesApi.list_asset_usecases",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetUsecasesApi#list_asset_usecases\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
