=begin
#Spartera API Documentation

#Auto-generated API documentation for REST services of the Spartera platform

The version of the OpenAPI document: 1.25.0
Contact: support@spartera.com
Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module OpenapiClient
  class ConnectionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new connection by ID
    # @param company_id [String] Unique identifier for the Company
    # @param connections_input [ConnectionsInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [CreateConnections200Response]
    def create_connections(company_id, connections_input, opts = {})
      data, _status_code, _headers = create_connections_with_http_info(company_id, connections_input, opts)
      data
    end

    # Create a new connection by ID
    # @param company_id [String] Unique identifier for the Company
    # @param connections_input [ConnectionsInput] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(CreateConnections200Response, Integer, Hash)>] CreateConnections200Response data, response status code and response headers
    def create_connections_with_http_info(company_id, connections_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.create_connections ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.create_connections"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.create_connections, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.create_connections, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling ConnectionsApi.create_connections, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connections_input' is set
      if @api_client.config.client_side_validation && connections_input.nil?
        fail ArgumentError, "Missing the required parameter 'connections_input' when calling ConnectionsApi.create_connections"
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ConnectionsApi.create_connections, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ConnectionsApi.create_connections, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ConnectionsApi.create_connections, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling ConnectionsApi.create_connections, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling ConnectionsApi.create_connections, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/connections'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connections_input)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateConnections200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.create_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#create_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete single connection by ID
    # @param company_id [String] Unique identifier for the Company
    # @param connection_id [String] Unique identifier for the Connection
    # @param [Hash] opts the optional parameters
    # @return [DeleteConnections200Response]
    def delete_connections(company_id, connection_id, opts = {})
      data, _status_code, _headers = delete_connections_with_http_info(company_id, connection_id, opts)
      data
    end

    # Delete single connection by ID
    # @param company_id [String] Unique identifier for the Company
    # @param connection_id [String] Unique identifier for the Connection
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteConnections200Response, Integer, Hash)>] DeleteConnections200Response data, response status code and response headers
    def delete_connections_with_http_info(company_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.delete_connections ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.delete_connections"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.delete_connections, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.delete_connections, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling ConnectionsApi.delete_connections, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.delete_connections"
      end
      if @api_client.config.client_side_validation && connection_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "connection_id" when calling ConnectionsApi.delete_connections, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && connection_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "connection_id" when calling ConnectionsApi.delete_connections, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && connection_id !~ pattern
        fail ArgumentError, "invalid value for 'connection_id' when calling ConnectionsApi.delete_connections, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/connections/{connection_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'connection_id' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteConnections200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.delete_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#delete_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single connection by ID
    # @param company_id [String] Unique identifier for the Company
    # @param connection_id [String] Unique identifier for the Connection
    # @param [Hash] opts the optional parameters
    # @return [GetConnectionsById200Response]
    def get_connections_by_id(company_id, connection_id, opts = {})
      data, _status_code, _headers = get_connections_by_id_with_http_info(company_id, connection_id, opts)
      data
    end

    # Get single connection by ID
    # @param company_id [String] Unique identifier for the Company
    # @param connection_id [String] Unique identifier for the Connection
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetConnectionsById200Response, Integer, Hash)>] GetConnectionsById200Response data, response status code and response headers
    def get_connections_by_id_with_http_info(company_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.get_connections_by_id ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.get_connections_by_id"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.get_connections_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.get_connections_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling ConnectionsApi.get_connections_by_id, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.get_connections_by_id"
      end
      if @api_client.config.client_side_validation && connection_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "connection_id" when calling ConnectionsApi.get_connections_by_id, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && connection_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "connection_id" when calling ConnectionsApi.get_connections_by_id, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && connection_id !~ pattern
        fail ArgumentError, "invalid value for 'connection_id' when calling ConnectionsApi.get_connections_by_id, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/connections/{connection_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'connection_id' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetConnectionsById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.get_connections_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#get_connections_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test the specified connection
    # @param company_id [String] Unique identifier for the Company
    # @param connection_id [String] Unique identifier for the Connection
    # @param [Hash] opts the optional parameters
    # @return [GetConnectionsById200Response]
    def get_connections_by_id2(company_id, connection_id, opts = {})
      data, _status_code, _headers = get_connections_by_id2_with_http_info(company_id, connection_id, opts)
      data
    end

    # Test the specified connection
    # @param company_id [String] Unique identifier for the Company
    # @param connection_id [String] Unique identifier for the Connection
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetConnectionsById200Response, Integer, Hash)>] GetConnectionsById200Response data, response status code and response headers
    def get_connections_by_id2_with_http_info(company_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.get_connections_by_id2 ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.get_connections_by_id2"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.get_connections_by_id2, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.get_connections_by_id2, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling ConnectionsApi.get_connections_by_id2, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.get_connections_by_id2"
      end
      if @api_client.config.client_side_validation && connection_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "connection_id" when calling ConnectionsApi.get_connections_by_id2, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && connection_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "connection_id" when calling ConnectionsApi.get_connections_by_id2, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && connection_id !~ pattern
        fail ArgumentError, "invalid value for 'connection_id' when calling ConnectionsApi.get_connections_by_id2, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/connections/{connection_id}/test'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'connection_id' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetConnectionsById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.get_connections_by_id2",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#get_connections_by_id2\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve the information schema for the specified connection
    # @param company_id [String] Unique identifier for the Company
    # @param connection_id [String] Unique identifier for the Connection
    # @param [Hash] opts the optional parameters
    # @return [GetConnectionsById200Response]
    def get_connections_by_id_infoschema(company_id, connection_id, opts = {})
      data, _status_code, _headers = get_connections_by_id_infoschema_with_http_info(company_id, connection_id, opts)
      data
    end

    # Retrieve the information schema for the specified connection
    # @param company_id [String] Unique identifier for the Company
    # @param connection_id [String] Unique identifier for the Connection
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetConnectionsById200Response, Integer, Hash)>] GetConnectionsById200Response data, response status code and response headers
    def get_connections_by_id_infoschema_with_http_info(company_id, connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.get_connections_by_id_infoschema ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.get_connections_by_id_infoschema"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.get_connections_by_id_infoschema, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.get_connections_by_id_infoschema, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling ConnectionsApi.get_connections_by_id_infoschema, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.get_connections_by_id_infoschema"
      end
      if @api_client.config.client_side_validation && connection_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "connection_id" when calling ConnectionsApi.get_connections_by_id_infoschema, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && connection_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "connection_id" when calling ConnectionsApi.get_connections_by_id_infoschema, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && connection_id !~ pattern
        fail ArgumentError, "invalid value for 'connection_id' when calling ConnectionsApi.get_connections_by_id_infoschema, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/companies/{company_id}/connections/{connection_id}/infoschema'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'connection_id' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetConnectionsById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.get_connections_by_id_infoschema",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#get_connections_by_id_infoschema\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all connections for a specific company
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [ListConnections200Response]
    def list_connections(company_id, opts = {})
      data, _status_code, _headers = list_connections_with_http_info(company_id, opts)
      data
    end

    # Get all connections for a specific company
    # @param company_id [String] Unique identifier for the Company
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for pagination (default to 1)
    # @option opts [Integer] :limit Number of items per page (default to 20)
    # @option opts [String] :sort_by Field to sort by
    # @option opts [String] :sort_order Sort order (ascending or descending) (default to 'desc')
    # @option opts [String] :search Search term to filter results
    # @return [Array<(ListConnections200Response, Integer, Hash)>] ListConnections200Response data, response status code and response headers
    def list_connections_with_http_info(company_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.list_connections ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.list_connections"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.list_connections, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.list_connections, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling ConnectionsApi.list_connections, must conform to the pattern #{pattern}."
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling ConnectionsApi.list_connections, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ConnectionsApi.list_connections, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ConnectionsApi.list_connections, must be greater than or equal to 1.'
      end

      allowable_values = ["asc", "desc"]
      if @api_client.config.client_side_validation && opts[:'sort_order'] && !allowable_values.include?(opts[:'sort_order'])
        fail ArgumentError, "invalid value for \"sort_order\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length > 255
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling ConnectionsApi.list_connections, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && !opts[:'search'].nil? && opts[:'search'].to_s.length < 1
        fail ArgumentError, 'invalid value for "opts[:"search"]" when calling ConnectionsApi.list_connections, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/companies/{company_id}/connections'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'sort_order'] = opts[:'sort_order'] if !opts[:'sort_order'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListConnections200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.list_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#list_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an existing connection by ID
    # @param company_id [String] Unique identifier for the Company
    # @param connection_id [String] Unique identifier for the Connection
    # @param connections_update [ConnectionsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateConnections200Response]
    def update_connections(company_id, connection_id, connections_update, opts = {})
      data, _status_code, _headers = update_connections_with_http_info(company_id, connection_id, connections_update, opts)
      data
    end

    # Update an existing connection by ID
    # @param company_id [String] Unique identifier for the Company
    # @param connection_id [String] Unique identifier for the Connection
    # @param connections_update [ConnectionsUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateConnections200Response, Integer, Hash)>] UpdateConnections200Response data, response status code and response headers
    def update_connections_with_http_info(company_id, connection_id, connections_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.update_connections ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling ConnectionsApi.update_connections"
      end
      if @api_client.config.client_side_validation && company_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.update_connections, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && company_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "company_id" when calling ConnectionsApi.update_connections, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && company_id !~ pattern
        fail ArgumentError, "invalid value for 'company_id' when calling ConnectionsApi.update_connections, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.update_connections"
      end
      if @api_client.config.client_side_validation && connection_id.to_s.length > 255
        fail ArgumentError, 'invalid value for "connection_id" when calling ConnectionsApi.update_connections, the character length must be smaller than or equal to 255.'
      end

      if @api_client.config.client_side_validation && connection_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "connection_id" when calling ConnectionsApi.update_connections, the character length must be greater than or equal to 1.'
      end

      pattern = Regexp.new(/^[a-zA-Z0-9_-]+$/)
      if @api_client.config.client_side_validation && connection_id !~ pattern
        fail ArgumentError, "invalid value for 'connection_id' when calling ConnectionsApi.update_connections, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'connections_update' is set
      if @api_client.config.client_side_validation && connections_update.nil?
        fail ArgumentError, "Missing the required parameter 'connections_update' when calling ConnectionsApi.update_connections"
      end
      # resource path
      local_var_path = '/companies/{company_id}/connections/{connection_id}'.sub('{' + 'company_id' + '}', CGI.escape(company_id.to_s)).sub('{' + 'connection_id' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connections_update)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateConnections200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.update_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#update_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
